@charset "utf-8";/* CSS Document*/
input::-webkit-input-placeholder{
    color: #fff;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #fff; opacity:1; 
}

input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #fff;opacity:1;
}

input:-ms-input-placeholder{
    color: #fff;opacity:1;
}
.sqdj{color: #fff;position: absolute;left: -10%}
.sqdj:hover{color: #fff;}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #af9350 !important;
    border-color: #af9350 !important;
}
*{padding:0;margin:0;}
img{border:0px}
a:focus{outline:none;}
body{font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3","微软雅黑", Arial, sans-serif;font-size: 14px;font-weight: 400;font-style: normal;margin: 0;padding: 0;color: #333;}
ul,li{list-style:none;}
.clear{clear:both}
a,a:hover{text-decoration:none;}
.w1200{width:1200px;margin:0 auto;clear:both}
.head{height:76px;}
.logo{float:left;width:146px;margin-right:38px;}
.menu{float:left;}
.menu ul li{float:left;margin: 15px 0px;padding: 12px 28px;/*border-top:4px solid #fff;*/font-size:16px;position:relative;}
.menu ul li a{color:#666;}
.menu ul li:hover{background:#af9350;}
.menu ul li.on{background: #af9350;}
.menu ul li:hover a{color: #fff}
.menu ul li.on a{color: #ffffff;}
.hr{float:left;padding:20px 0; }
.search{float:left;width:155px;position:relative;}
.search input{width:120px;height:28px;line-height:28px;border-radius:20px;border:1px solid #ccc;color:#ccc;text-align:right;padding:0 12px;}
.search i{position:absolute;top:8px;left:8px;}
.login{float:left;}
.login a{float:left;width:66px;height:33px;line-height:33px;text-align:center;background:#af9350;color:#fff;border:none;border-radius:5px;margin:0 5px;cursor:pointer}
/* main_image*/.main_visual{width:100%;height:440px;border-top:0px solid #d7d7d7;overflow:hidden;position:relative;}
.main_image{height:440px;overflow:hidden;position:relative;}

div.flicking_con{position:absolute;top:360px;left:50%;z-index:99;width:175px;height:10px;margin:0 0 0 -90px;}
div.flicking_con a{float:left;width:18px;height:18px;margin-left:10px;padding:0;display:block;text-indent:-1000px;background:#fff;border-radius:50%;}
div.flicking_con a.on{background-position:0 -21px;background:#e01309}
#btn_prev{background:url(../images/prev.png);width:60px !important;height:60px;position:absolute;top:190px;left:10%;}
#btn_next{background:url(../images/next.png);width:60px !important;height:60px;position:absolute;top:190px;right:10%;}
.check a{margin:50px 27px;float:left;}
.dynamic{width:760px;float:left;}
.trading{width:420px;float:right;}
.tit{margin-bottom:25px;}
.tit h2{font-size:20px;font-weight:normal}
.tit span{font-size:16px;color:#939599;margin-left:15px;}
.tx{width:60px;float:left;}
.name{width:500px;float:left;margin-left:20px;font-size:17px;line-height:24px;padding:2px;}
.name i{position:relative;top:3px;margin:0 10px;}
.name span{font-size:14px;color:#ffaa00;}
.name p{font-size:15px;color:#666;}
.price{float:right;font-size:30px;color:#ffaa00;line-height:50px;}
.dynamic ul li{padding:15px 16px;background:#fff;overflow:hidden;border:1px solid #fff;margin-bottom:10px;}
.dynamic ul li.on{border:1px solid #ff3341;}
.dynamic ul li:hover{border:1px solid #ff3341;}
.trading ul{padding:0 20px;background:#fff;overflow:hidden}
/*.trading ul li{overflow:hidden;border-bottom:1px solid #e6e6e6;padding:16px 0;}*/
.t_tx{width:56px;height:56px;overflow:hidden;float:left;}
.t_tx img{width:100%;}
.t_name{float:left;margin-left:15px;}
.foot{background:#52535e;padding:25px 0;}
.bigtitle{margin:10px 0;}
.title{margin-bottom: 15px;color: #fff;font-size: 16px;font-weight: 400;}
.content{padding:35px 0;border-bottom:1px solid #74757d}
.yq{padding:10px 0;overflow:hidden;color:rgba(255,255,255,.5);}
.yq span{width:70px;float:left;color:#e6e6e6;display:inline-block;line-height:18px;}
.yq a{color:rgba(255,255,255,.5);margin:0 10px;}
.lj{float:left;width:1130px;line-height:18px;}
.bq{background:#43444e;text-align:center;color:rgba(255,255,255,.3);padding:10px 0;}
/* remove the bullets and set the margin and padding to zero for the unordered list*/.menu ul{padding:0;margin:0;list-style-type: none;}
.menu ul li{position:relative}
/* float the list so that the items are in a line and their position relative so that the drop down list will appear in the right place underneath each list item*//* style the links to be 104px wide by 30px high with a top and right border 1px solid white. Set the background color and the font size.*/.menu ul li a, .menu ul li a:visited{display:block;text-align:center;text-decoration:none;position:relative;}
.menu ul li ul{display: none;position: absolute;text-align: center;background: #af9350;color: #fff;width: 120px;margin-top: 9px;left: -10px;z-index: 999;}
/* specific to non IE browsers*//* set the background and foreground color of the main menu li on hover*/.menu ul li ul li a{color:#fff;}
/* make the sub menu ul visible and position it beneath the main menu list item*/.menu ul li:hover ul{display:block;}
/* style the background and foreground color of the submenu links*/.menu ul li:hover ul li a{display:block;color:#fff;z-index:999;}
/* style the background and forground colors of the links on hover*/.submenu li:hover ul li a:hover{background:#075e75;color:#333;border:none;}
.submenu li{text-align: center;width: 100%;padding: 20px 0 !important;margin: 0 !important;border:none !important;}
.submenu li:hover{background:#e48100 !important;}
.banner img{width:100%;}
.js{text-align:center}
.tit1{text-align:center;padding:35px 0;}
.tit1 i{text-align:center;width:285px;height:3px;background:#b5b5b5;display:block;margin:30px auto;}
.tit1 i span{width:80px;background:#af9350;display:block;z-index:9999;position:relative;}
.tit1 h2{color:#6a7884;font-size:38px;font-weight:normal}
.tit1 p{font-size:18px;line-height:36px;color:#666;}
.ready{background:#2c3e50;padding:40px 0;text-align:center;font-size:28px;color:#fff;}
.ys_l{width:570px;float:left}
.ys_r{width:600px;float:left;}
.s1{width:60px;float:left;margin-right:20px;}
.s2{float:left;width:500px;}
.s2 h2{font-size:23px;color:#6a7884;font-weight:normal}
.s2 p{font-size:14px;color:#7b8a97;line-height:24px;margin-top:20px;}
.ys_r ul li{margin:30px 0;overflow:hidden}
.bt{padding:10px 0;border-bottom:1px solid #ccc;overflow:hidden;margin-top:20px;}
.bt_l{float:left;width:400px;}
.bt_l i{position:relative;float:left;top:3px;margin-right:10px;}
.bt_l h2{float:left;font-weight:normal;font-size:20px;color:#af9350;margin-top: 0;}
.bt_l span{font-size:16px;margin-left:20px;color:#939599;line-height:24px;}
.bt_r{float:right;color:#999;line-height:24px;}
.bt_r i{position:relative;top:2px;margin-right:10px;}
.hq_list{margin:20px 0;}
.hq_l{float:left;width:226px;background:#fff;color:#ff6b6b;font-size:14px;height:923px;}
.hq_l ul li{height:66px;line-height:66px;padding:0 20px;border-bottom:1px solid #ccc;}
.hq_l ul li:hover{background:#ff6b6b;color:#fff;}
.hq_l ul li.on{background:#ff6b6b;color:#fff;}
.h1 i{width:25px;height:25px;background:url(../images/h11.png);display:inline-block;position:relative;top:4px;margin-right:25px;}
.hq_l ul li.h1:hover i{background:url(../images/h1.png);}
.hq_l ul li.h1.on i{background:url(../images/h1.png);}
.h2 i{width:25px;height:25px;background:url(../images/h2.png);display:inline-block;position:relative;top:4px;margin-right:25px;}
.hq_l ul li.h2:hover i{background:url(../images/h22.png);}
.h2 i{width:25px;height:25px;background:url(../images/h2.png);display:inline-block;position:relative;top:4px;margin-right:25px;}
.hq_l ul li.h2:hover i{background:url(../images/h22.png);}
.h3 i{width:25px;height:25px;background:url(../images/h3.png);display:inline-block;position:relative;top:4px;margin-right:25px;}
.hq_l ul li.h3:hover i{background:url(../images/h33.png);}
.h4 i{width:25px;height:25px;background:url(../images/h4.png);display:inline-block;position:relative;top:4px;margin-right:25px;}
.hq_l ul li.h2:hover i{background:url(../images/h44.png);}
.h5 i{width:25px;height:25px;background:url(../images/h5.png);display:inline-block;position:relative;top:4px;margin-right:25px;}
.hq_l ul li.h5:hover i{background:url(../images/h55.png);}
.h6 i{width:25px;height:25px;background:url(../images/h6.png);display:inline-block;position:relative;top:4px;margin-right:25px;}
.hq_l ul li.h6:hover i{background:url(../images/h66.png);}
.h7 i{width:25px;height:25px;background:url(../images/h7.png);display:inline-block;position:relative;top:4px;margin-right:25px;}
.hq_l ul li.h7:hover i{background:url(../images/h77.png);}
.h8 i{width:25px;height:25px;background:url(../images/h8.png);display:inline-block;position:relative;top:4px;margin-right:25px;}
.hq_l ul li.h8:hover i{background:url(../images/h88.png);}
.h9 i{width:25px;height:25px;background:url(../images/h9.png);display:inline-block;position:relative;top:4px;margin-right:25px;}
.hq_l ul li.h9:hover i{background:url(../images/h99.png);}
.hq_r{width:909px;float:right;background:#fff;padding:25px;}
.biaoti h2{border-bottom:1px solid #ccc;padding-bottom:15px;}
.biaoti span{padding-bottom:15px;border-bottom:1px solid #ff6b6b;font-size:18px;font-weight:normal}
.hq_r table{width:100%;text-align:center;margin:10px 0;}
.hq_r table tr th{background:#fafafc;padding:15px 0;}
.hq_r table tr td{font-size:14px;padding:15px 0;border-bottom:1px solid #eee;}
.green{color:#1fa10a}
/*.new{margin:15px 0;background:#fff;padding:15px;box-shadow:0 0 10px #ccc;overflow:hidden;min-height: 600px;}*/
.new_tit{border-bottom:1px solid #eee;padding-bottom:10px;}
.new_tit i{position:relative;top:2px;margin-right:5px;}
.new_tit a{margin:0 10px;color:#7d7d7d;}
/*.new ul li{padding:0px 0 ;border-bottom:1px solid #ccc;}*/
/*.new ul li h2{font-size:18px;font-weight:normal;padding-bottom:0px;padding-top:5px;padding-left:30px;display: inline-block;box-sizing: border-box;}*/
.xw{overflow:hidden;}
.xw_pic{width:151px;height:92px;float:left;}
.xw_wz{padding-right:40px;float:right;color:#7d7d7d;font-size:12px;line-height:24px;}
.xw_nr{overflow:hidden;margin-bottom:10px;width: 350px;}
.more{float:left;color:#af9350;font-size:12px;}
.rl{float:right;margin-bottom: 5px;}
.rl i{position:relative;top:4px;margin:0 10px}
.ym{width:640px;margin:20px auto;}
.ym ul li{padding:10px 15px;border:1px solid #ccc;margin:5px;float:left;cursor:pointer}
.ym ul li a{color:#666;}
.ym ul li:hover{background:#af9350;border:1px solid #af9350;}
.ym ul li:hover a{color:#fff}
.ym ul li.on{background:#af9350;border:1px solid #af9350;}
.ym ul li.on a{color:#fff}
.new_wz{margin:15px 0;background:#fff;padding:30px;box-shadow:0 0 10px #ccc;overflow:hidden;min-height: 600px;background-size:238%; position:static;}
.wz{text-align:center;
    text-align: center;
    font-size: 15px;
    /*padding: 15px 18px;*/
    color: #888;
    line-height: 36px;}
.wz p{text-align:left;line-height:36px;}
.wz h2{font-size:24px;color:#333;font-weight:normal;padding:20px 0;}
.wz span{margin:0 10px;color:#5a5858;padding-bottom:10px;}
.jy{background:#fafafc;padding:10px;margin:10px 0;}
.jy label{margin-right:20px;}
.jy label select{margin:0 10px;height:25px;}
.jy_list table{width:100%;}
.jy_lie{background:#fff;padding:15px 0;overflow:hidden}
.jy_lie ul li{float:left;text-align:center;width:170px;}
.jy_lie ul li a{color:#333;}
.jy_lie1 ul li{background:#fff;padding:20px 0;height:70px;line-height:70px;text-align:center;width:168px;float:left;}
.jy_lie1 ul{margin:10px 0;font-size:20px;overflow:hidden;border:1px solid #fff;}
.jy_lie1 ul:hover{border:1px solid #ff3341}
.tx1 img{width:45px;height: 45px;float:left;border-radius: 50%;}
.tx1{padding:0 10px;
    margin-top: 8px;
    margin-left: 10px;}
.name1{line-height:24px;font-size:17px;}
.name1 p img{width:20px;color:#ffaa00}
.name1 p span{color:#ffaa00;margin-left: 8px;}
.jy_lie1 ul li button{width:68px;height:25px;line-height:25px;background:#af9350;border:none;color:#fff;border-radius:2px;cursor:pointer}
.zc{background:url(../images/bg.jpg) no-repeat;background-size:100% 100%;padding:60px 0;min-height: 800px;}
.tit h3{font-size:24px;font-weight:normal;text-align:center}
.tit h3 i{width:100px;display:inline-block;height:1px;background:#ccc;margin:8px 10px}
.tit p a{color:#0066cc}
.login1{position:relative;background:#fff;box-shadow:0 0 10px #ccc;margin:40px auto;overflow:hidden;width: 810px;}
.login1 label{display:block;position:relative;margin:30px 0;/*overflow:hidden*/}
.login1 label label.error{position:absolute;top: 23px;margin: 0px;color: #af9350;    right: 125px;}
.login1 label #validate-error{right: 330px;}
.login1 label #validate2-error{right: 330px;}
.login1 label #tuijian-error{right: 328px;}
.login1 label input{width:75%;height:50px;padding:5px 40px;color:#4c4747;box-sizing: border-box;font-size:15px; }
.login1 i{position:absolute;top:16px;left:10px;}
.btn button{width:75%;margin-left:100px;background:#af9350;border:none;padding:15px 0;color:#fff;font-size:16px;cursor:pointer}
.login1_lf{padding: 40px 0 40px 41px;width: 808px;float:left;}
.login1_lr{padding:40px 30px;width:270px;float:left;background:#f5f5f5;height:100%;position:absolute;right:0;}
.login1_lf p{text-align:right;margin:5px 15px;}
.login1_lf p a{color:#af9350;}
.login1_lf span{float:left;padding:8px 0;width:100px;font-size:16px;}
.login1_lf label input{}
.wz1{position:absolute;overflow:hidden;line-height:24px;width: 270px;}
.mz{margin-left:38px;margin-top: -20px;margin-bottom: 30px;}
.button{width:160px;height:40px;line-height:40px;margin:20px 0 45px 0;text-align:center;color:#fff;border-radius:5px;background:#af9350;}
.mzsm{margin:20px 0 0 0px;padding: 0;overflow:hidden;height: 250px;overflow-y:auto;border: 0;}
.mzsm h3{color:#af9350;font-size:18px;text-align:center}
.mzsm p{font-size:14px;line-height:24px;text-align:left}
.mz span{font-size: 14px;padding-left: 5px;}   


/*自主跟单*/  
.gd{padding:20px 0;overflow:hidden}
.gd_lf{width:100%;float:left;}
.gd_lr{width:317px;float:right;}
.weekstar{border:1px solid #ccc;position:relative;}
.week_name{margin-bottom:15px;overflow:hidden;padding-top:15px;padding-left:60px;padding-right:25px;padding-bottom:15px;border-bottom:1px solid #ccc;}
.week_li{overflow:hidden;padding-left:60px;padding-right:25px;}
.name_pic{float:left;}
.name{float:left;padding:0px 20px ;font-size:24px;color:#666}
.name p{font-size:13px;line-height:24px;margin-right:30px;}
.name span{display:inline-block;width:30px;}
.star{float:right;color:#af9350;font-size:14px;}
.star i{position:relative;top:3px;}
.list{float:left;width:600px;}
.list ul li{float:left;margin:5px 35px;font-size:14px;color:#666;}
.list_button{float:right;width:140px;height:35px;line-height:35px;background:#af9350;text-align:center;color:#fff;border-radius:5px;margin:15px 0;cursor:pointer}
.week_js{padding:10px;background:#f5f5f5;color:#666;padding-top:15px;padding-left:60px;padding-right:25px;}
.week_1{position:absolute;left:-2px;top:-2px;}
.star_txt{margin:20px 0;overflow:hidden}
.txt_lf a{width:180px;height:40px;line-height:40px;background:#f5f5f5;display:inline-block;text-align:center;float:left;color:#666;}
.txt_lf a.on{background:#af9350;color:#fff;}
.txt_lf a:hover{background:#af9350;color:#fff;}
.txt_lr{float:right;position:relative;}
.txt_lr input{width:265px;height:35px;line-height:35px;padding:0 10px;color:#ccc;border:1px solid #ccc;}
.sousuo{position:absolute;right:10px;top:10px;}
.star_list table{width:100%;border:1px solid #ccc;}
.star_list table tr th{background:#f5f5f5;padding:15px;text-align:center}
.star_list table tr th i{position:relative;top:2px;margin-left:5px;}
.star_list table tr td{padding:15px;text-align:center;border-bottom:1px solid #ccc;}
.tx,.name1{float:left;text-align:left}
.tx img{width:50px;height:50px;overflow:hidden;margin-right:10px;}
.name1{font-size:14px;margin-top:10px;}
.name1 p{font-size:14px;color:#666;}
.gd_lr h2{padding-left:15px;font-size:18px;font-weight:normal;color:#af9350;border-left:3px solid #af9350;margin-bottom:10px;}
.gd_lr table{border:1px solid #ccc;padding:5px;width:100%;text-align:center}
.gd_lr table tr th{font-size:16px;padding:10px 0;}
.gd_lr table tr td{padding:5px 0;}
.gd_lr table tr td span{color:#af9350}
/*denglu*/
.dengluye{width:451px;background:#fff;box-shadow:0 0 10px #ccc;padding: 20px 30px;z-index:999999;overflow:hidden;display:none}
.da-login-panel h2{line-height: 30px;
border-left: 3px solid #e31f1f;
font-size: 16px;
font-weight: 400;
text-indent: 10px;
margin-bottom: 24px;} .close{position: absolute;
right: 10px;
top: 10px;
display: block;
width: 16px;
height: 16px;
background: url(../images/login-close.png);}
.da-login-panel .tabs{width: 375px;
border-bottom: 2px solid #cccccc;
padding:15px 0;
margin: 0 auto;}
.active{width:150px;
border-bottom: 2px solid #e31f1f;}
.zhuce{margin-left:50px;}
.da-login-panel form, .da-login-panel .register-form{margin: 40px 0 0 30px;
width: 375px;
font-size: 15px;
display: none;}
.da-login-panel form .ctrl{margin-bottom: 20px;position:relative}
.da-login-panel form .ctrl  label.error{position:absolute; right: 10px;
    top: 10px;
    color: #af9350;}
.da-login-panel form .ctrl.ctrl-validate label.error{ right: 126px;}
.ico-user{position:absolute;top:10px;z-index:999;left:10px;}
.ico-password{position:absolute;top:10px;z-index:999;left:10px;}
.ico-user1{position:absolute;top:10px;z-index:999;left:10px;}
.ico-password1{position:absolute;top:10px;z-index:999;left:10px;}
.ctrl button{float:right;background:#e31f1f;border:none;padding:10px;color:#fff;cursor:pointer}
.da-login-panel form input, .da-login-panel .register-form input{width: 320px;
height: 36px;
padding-left: 55px;
line-height: 40px;
border: 1px solid #ccc;
position:relative;}
.da-login-panel form .forgot{font-size: 12px;
text-align: right;
clear: both;}
.da-login-panel form .submit-btn{background: #e31f1f;
width: 375px;
height: 40px;
margin-top: 26px;
font-size: 15px;
font-weight: 700;
border:none;
color:#fff;}
.tabs a{font-size:16px;color:#666; padding: 15px 30px; margin: 0 auto; margin-left: 20px;}
.for_lf input{height:10px;width:10px;}
.fx h2{padding-left: 15px; font-size: 18px; font-weight: normal; color: #af9350; border-left: 3px solid #af9350; margin-bottom: 20px;margin-top:20px;font-size:24px;}
.pic{border:1px solid #ccc;padding:5px;}
.pic img{width:100%;}
.jyd{margin:10px 0;}
.jyd ul li{width:166px;float:left;text-align:center;padding:20px 0;background:#f5f5f5;border:1px dashed #fff;}
.jy_bt{font-size:24px;font-weight:bold}
.mx{background: #fff; box-shadow: 0 0 10px #ccc; padding: 25px 35px; width: 1130px; margin: 25px auto; overflow: hidden;}
.mx_tx{float: left;}
.mx_tx>img{width:90px;border-radius:50%;}
.mx_name{float: left; margin: 16px 20px; line-height: 30px; color: #999;}
.mx_sy{margin: 20px 50px 0 50px; color: #999; text-align: center;float: left;}
.mx_an{float: right;}
.mx_an ul li{width: 85px; height: 35px; line-height: 35px; text-align: center;margin: 8px 20px;background: #af9350;color: #fff;}
.mx_sy p{margin: 20px 0; color: #00aa6d; font-size: 24px;}
.userdetail_numtable{width: 1200px; margin: 30px auto; box-shadow: 0 0 10px #ccc;}
.userdetail_numtable table tr:nth-child(2n+1){background: #fff;}
.userdetail_numtable table td{width: 50%; height: 35px;}
.userdetail_numtable .left_numbox{padding-left: 20px; padding-right: 40px; height: 35px; line-height: 35px; text-align: right; font-size: 12px; color: #333; border-right: 1px dashed #eee;}
.userdetail_numtable .numtxtname{float: left; color: #999;}
.userdetail_numtable .right_numbox{padding-left: 40px; padding-right: 20px; height: 35px; line-height: 35px; text-align: right; font-size: 12px; color: #333;}
.jymx{width: 1200px; margin: 10px auto; overflow: hidden;}
.jymx_lf{width: 251px; float: left;}
.dt{background: #fff; box-shadow: 0 0 10px #ccc; overflow: hidden; padding: 10px;}
.dt_tit{overflow: hidden; border-bottom: 1px solid #f5f5f5; padding-bottom: 5px;}
.dt1_lf{float: left;}
.dt1_lr{float: right; font-size: 12px; color: #999;}
.m_wz ul li{padding: 10px 0; overflow: hidden; width: 100%; border-bottom: 1px dashed #eee;}
.m_time{float: left; width: 10%; color: #999;}
.m_wz1{float: left; width: 80%; margin-left: 10%;}
.more{padding: 3% 0; text-align: center; color: #666; cursor: pointer;}
.jymx_lr{width: 900px; padding: 10px; float: right; background: #fff; box-shadow: 0 0 10px #ccc;overflow:hidden;padding-bottom:15px;}
.ord_tit{overflow: hidden;}
.ord_tit ul li.on{border-bottom: none; border-top: 1px solid #af9350; border-left: 1px solid #af9350; border-right: 1px solid #af9350;color:#af9350}
.ord_tit ul li.on a{color:#af9350}
.ord_tit ul li{float: left; width: 20%; text-align: center; height: 35px; line-height: 35px; border-bottom: 1px solid #eee;color:#666;cursor:pointer}
.follow{height:320px}
.follow>div{width:100%;}
.shuju{margin:10px 0;}
.shuju ul li{float:left;width:220px;overflow:hidden;text-align:center;padding:20px 0;background:#f5f5f5;border:1px solid #fff;font-size:24px;}
.shuju ul li p{font-size:14px;line-height:36px;}
#gs a{color:#666;}
.table_screen_box{position: relative; height: 24px; margin: 20px 0;}
.table_screen_box .screen_group{float: left; position: relative; overflow: hidden; margin-right: 13px;}
.table_screen_box .screen_group{float: left; position: relative; overflow: hidden; margin-right: 13px;}
.table_screen_box .screen_group label{float: left; padding-right: 5px; height: 24px; line-height: 24px; font-size: 12px; color: #999;}
.table_screen_box .radio_box{float: left; height: 22px; text-align: center; border-radius: 3px; border: 1px solid #e1e2e6;}
.table_screen_box .radio_box a.on{background-color: #af9350; color: #fff;}
.table_screen_box .radio_box a{display: inline-block; float: left; position: relative; top: -1px; margin-right: -1px; padding: 6px 8px; line-height: 1; border-radius: 3px; font-size: 12px; color: #555;}
.table_screen_box .screen_group{float: left; position: relative; overflow: hidden; margin-right: 13px;}
.table_screen_box .screen_group label{float: left; padding-right: 5px; height: 24px; line-height: 24px; font-size: 12px; color: #999;}
.table_screen_box .date_box{float: left; position: relative; width: 118px; height: 22px; border-radius: 2px; border: 1px solid #e1e2e6; cursor: pointer;}
.table_screen_box .date_box input{margin-left: 6px; width: 90px; height: 18px; line-height: 18px; border: 0; outline: none; background-color: transparent; font-size: 12px; color: #555;}
.table_screen_box .date_lj_line{float: left; margin: 0 5px; height: 24px; line-height: 24px; color: #a1a4ad;}
.datatable_box tr th{padding:5px 0;font-size:14px;}
.datatable_box tr td{padding:10px 0;color:#af9350;font-size:18px;text-align:center;border:1px solid #f5f5f5;}
.datatable_box1 tr th{padding:5px 0;font-size:14px;}
.datatable_box1 tr td{padding:10px 0;color:#666;font-size:14px;text-align:center;border:1px solid #f5f5f5;}
/*.imga{
    display: inline-block;
    margin-left: 40px;
}
.kefu{
    position: fixed;
    top: 10px;
    left: 1366px;
    width: 160px;
    height: 350px;
    background: #464646;
    padding: 10px;
}
.kefuleft{
    float: left;
    width: 32px;
    height: 330px;
    color: #fff;
    font-size: 18px;
    background: #464646;
}
.kefuleft>img{
    width: 30px;
}

.kefuright{
    width: 120px;
    height: 330px;
    background: #fff;
    float: left;
}*/
/*.KefuBox {
    position: fixed;
    left: 1366px;
    right: 25px;
    width: 200px;
    background: #464646;
    z-index: 99999;
}
.ZsKfBox {
    width: 70px;
    padding: 10px 0px 5px;
    cursor: pointer;
    position: relative;
    background: #F0F2F2;
}
.t_ct {
    text-align: center;
}
.KfTitle {
    margin-top: 5px;
}
.ZsInfo {
    top: 0px;
    left: -160px;
    background: url(/Public/home/images/zsbg.png) no-repeat;
}
.ZsKfCom {
    position: absolute;
    width: 154px;
    height: 279px;
    padding-left: 15px;
}
.cl_333 {
    color: #333;
}.kfzsTime {
    margin: 130px 0px 5px;
}
.fs_16 {
    font-size: 16px;
}
.fs_12 {
    font-size: 12px;
}
.KfZsQQ {
    margin: 20px 0px 10px;
}*/


#rightsead{width:130px;height:350px;position:fixed; top:74%; margin-top:-175px;right:-50px;}
*html #rightsead{margin-top:258px;position:absolute;}
#rightsead li{width:131px;height:75px;}
#rightsead li>div{float:right;}
#rightsead li span{height:49px;display:block;min-width:47px;max-width:131px;}
#rightsead li span .shows{display:block;}
#rightsead li span .hides{margin-right:-143px;cursor:pointer;cursor:hand;}
#rightsead li span.youhui .hides{display:none;position:absolute;right:263px;top:10px;}

.ZsKfCom,.zsKfCom{
    padding: 5px;
    /*border:1px solid rgba(253, 250, 250, 0.28);*/
    /*background: rgba(253, 250, 250, 0.28);*/
    background: url('../images/back.jpg');
}
.zsKfCom {
    padding: 5px;
    /*background: rgba(253, 250, 250, 0.28);*/
    background: url('../images/back1.jpg');
}
.cl_333 {
    color: #333;
}
.kfzsTime {
    margin: 8px 5px;
}
.fs_16 {
    font-size: 16px;
}.fs_12 {
    font-size: 16px;
    margin: 8px 5px;
}
#rightsead>ul{
    /*background: #f5f4f4;*/
    margin-right: 60px;
    padding:10px;
}
.youhui>p{
    margin-left: 8px;
    margin-top:4px; 
    font-size: 16px;
    color: #aaa;
}
.hides>img{
    width: 100px;
    height: 100px;
    padding-left: 7px;
    padding-top: 5px;
    border-radius: 8%;
}
/*.hezuo>ul{
    display: flex;
  justify-content:space-around;
}*/
.hezuo>ul>li{
    display: inline-block;
}
.hezuo>ul>li:nth-child(1){
    margin-left:120px;
}
.hezuo ul li{
    width: 242px;
    height: 238px;
}
.hezuo ul li>img{
    width: 200px;
    /*margin:5px auto;*/
    display: block;
}
.hezuo>ul>li:last-child{
    width: 1000px;
    margin-top:44px;
}
.hezuo>ul>li:last-child>img{
    width: 900px;
    margin-left:92px;
}
.hezuo ul{background:rgba(182, 183, 183, 0.21);padding:10px 0;overflow:hidden}
.hezuo ul li{/*float:left;*/margin:0 68px;}



/*first*/
.pad{padding: 50px;}
.dynamic1{width:66%;float:left;}
.dynamic1 ul li{background:#e2e2e2;overflow:hidden;margin-bottom:10px;width:248px;border-radius:10px;float:left;margin-right:10px;}
.dynamic1 ul li:hover .gs a{background:#af9350}
.lj1{float:left;margin-top:8px;margin-left:15px;}
.lj1 a:hover{color:#ff9820;}
.lj1 a{color:#666;margin:0px 3px;}
.tou{padding:15px;font-size:14px;}
.tou p{text-align:center;color:#af9350;font-size:30px;line-height:60px;font-weight:bold}
.list ul{height:145px;background:#f0f0f0;width:250px;}
.list ul li{height:auto;padding:10px;font-size:15px;background:#f0f0f0;border-radius:0;border-bottom:1px solid #dedede;color:#616161;width:224px;overflow:hidden;margin:0 10px 10px 0;}
.list ul li span{float:right;display:inline-block}
.gs a{background:#af9350;width:100%;display:block;padding:12px 0;text-align:center;font-size:17px;color:#fff;}
.check a{margin:50px 27px;float:left;}
.dynamic{width:780px;float:left;}
.trading{width:32%;float:right;}
.tit{margin-bottom:25px;overflow:hidden;}
.biaoti1{overflow:hidden}
.tit h2{font-size:20px;font-weight:normal}
.tit span{font-size:16px;color:#939599;margin-left:15px;}
.tx{width:60px;float:left;}
.name{width:500px;float:left;margin-left:20px;font-size:17px;line-height:24px;padding:2px;}
.name i{position:relative;top:3px;margin:0 10px;float:right;}
.trading .name span{font-size:14px;color:#af9350;float:right;}
.name p{font-size:15px;color:#666;margin-top: 7px;}
.price{float:right;font-size:30px;color:#af9350;line-height:50px;}
.dynamic ul li{padding:15px 25px;background:#fff;overflow:hidden;border:1px solid #fff;margin-bottom:10px;}
/*.dynamic ul li.on{border:1px solid #af9350;}*/
.dynamic ul li:hover{border:1px solid #af9350;}
.trading ul{padding:0 20px;background:#fff;overflow:hidden;height: 301px;}
.trading ul li{overflow:hidden;border-bottom:1px solid #e6e6e6;padding:19px 0;}
.t_tx{width:56px;height:56px;overflow:hidden;float:left;}
.t_tx img{width:100%;}
.t_name{float:left;margin-left:15px;}
.new{overflow:hidden;margin-bottom:45px;}
.new_gs{float:left;width:570px;}
.new_hy{float:right;width:570px;}
.big h4{padding:20px 0;font-size:16px;color:#666;border-bottom:1px dashed #d0d0d0;}
.big ul li{font-size:16px;line-height:38px;}
.big ul li span{float:right;color:#ccc;}
.big ul li a{color:#333;}
/*.big ul li:hover a{color:#af9350;text-decoration:underline;}*/
.cooperation ul{background:#fff;padding:15px 0;overflow:hidden}
.cooperation ul li{float:left;width:238px;border-left:1px solid #eee;border-right:1px solid #eee;padding-top:20px;}
.cooperation ul li:nth-child(2){padding-top:14px;}
.cooperation ul li img{width:100%;}
.cooperation ul li span{padding:0 0px 0 103px;}
.jt{margin:0 20px;float:left;}
.foot{background: #30333a;padding:50px 0 25px;}
.shop{float:left;width:260px;padding:18px 52px 0 0px;text-align:center}
.shop h4{text-align:center;color:#af9350;font-size:28px;font-weight:normal}
.shop p{color:#666;font-size:14px;margin:10px 0;}
.foot ul li{width:184px;float:left;text-align:left}
.foot ul li i{position:relative;top:7px;margin-right:10px;}
.foot ul li h2{font-size:16px;font-weight:normal;color:#a5a5a0;}
.foot ul li a{display:block;margin:15px 0;color:#a5a5a5;font-size:14px;margin-left: 40px;}
.bq{background:#464a53;color:#ccc;padding:10px 0;text-align:center}
.lxf p {
    display: block;
    margin: 15px 0;
    color: #a5a5a5;
    font-size: 14px;
    margin-left: 40px;
}

/*软件下载*/
/*交易软件*/
.rj{
    width:100%;
    height:550px;
    background:url(../images/jy.jpg) no-repeat;
    background-size:100% 100%;
    }
    
.rj ul{
    width:720px;
    margin:45px auto;}
    
.rj ul li{
    float:left;
    width:200px;
    text-align:center;
    cursor:pointer;
    font-size:16px;
    color:#fff;
    margin:0 20px
    }
    
.az i{
    width:100px;
    height:100px;
    background:url(../images/AZ.png) no-repeat;
    display:inline-block}
    
.az i:hover{
    background:url(../images/anzhuoerweima.png) no-repeat;
    background-size:100% 100%;
}
    
.ios i{
    width:100px;
    height:100px;
    background:url(../images/IOS.png) no-repeat;
    display:inline-block}
    
.ios i:hover{
    background:url(../images/pingguoerweima.png) no-repeat;
    background-size:100% 100%;
}
    
.pc i{
    width:100px;
    height:100px;
    background:url(../images/PC.png) no-repeat;
    display:inline-block}
    
.rj ul li p{
    margin-top:20px;}
    
.ys{
    padding:75px 0;
    overflow:hidden}
    
.ys_left{
    width:450px;
    height:80px;
    background:#6ad1cd;
    color:#fff;
    text-align:center;
    padding:60px 0;}
    
.ys_left h2{
    font-size:36px;}
    
.ys_left p{
    font-size:30px;}
    
.ys_mid{
    width:465px;
    
    
    font-size:12px;
    line-height:24px;
    display:inline-block}
    
.ys_mid p{
    padding:4px 0;
    color:#222;}
    
.ys_fr{
    padding:70px 0;}
    
.xian{
    
    height:100px;
    border:1px solid #ccc;
    margin:40px 60px;
float: left;}
   .fr {
    float: right;
    display: inline;
} 
.yqq{
    background:#222;
    padding:50px 0;
    overflow:hidden}
    
.yqq h2{
    font-size:36px;
    color:#ff6200;
    font-weight:normal;
    text-align:center}
    
.yqq h3{
    font-size:30px;
    text-align:center;
    color:#fff;
    font-weight:normal}
    
.yqq ul li{
    width:276px;
    float:left;
    margin-top:50px;
    margin-bottom:50px;
    padding-left:67px;
    padding-right:67px;
    border-right:1px solid #fff;
    }
    
.yqq p{
    font-size:14px;
    line-height:24px;
    color:#fff;
    text-align:center}
    
.yqq span{
    margin-left:35px;}

.rz_inner h2 {
    font-size: 50px;
    font-weight: normal;
    color: #fff;
}

.rz_inner {
    text-align: center;
    padding-top: 140px;
}

.rz_inner h4 {
    font-size: 40px;
    color: #fff;
    font-weight: normal;
    padding: 20px 0;
}

.ys {
    padding: 75px 0;
    overflow: hidden;
}

.ys_left {
    width: 450px;
    height: 80px;
    background: #af9350;
    color: #fff;
    text-align: center;
    padding: 60px 0;
    float:left;
}
.w1100 {
    width: 1100px;
    margin: 0 auto;
    overflow: hidden;
}
.jiaoyi_mx{
    height: 310px !important;
}
.jiaoyi_mx li{
    padding: 9px 0 !important;
}
.pa50{padding:50px;}
/*软件下载*/


