<link href="./jiaoshifeng/bootstrap.css" rel="stylesheet">    
    <style type="text/css">
        .teacher-close {
            font-size:20px;
            color:#fff;
            position:absolute;
            right:-23px;
            top:-23px;
            cursor:pointer;
        }
        .teachersdetail .fudong{
            overflow:hidden;
            opacity:1;
            -webkit-box-shadow: 0 0 4px rgba(31, 2, 2, 1);
	        -moz-box-shadow: 0 0 4px rgba(31, 2, 2, 1);
	        box-shadow: 0 0 4px rgba(31, 2, 2, 1);
	        -webkit-transition: all 0.15s ease-in;
	        -moz-transition: all 0.15s ease-in;
            -o-transition: all 0.15s ease-in;
	        transition: all 0.15s ease-in;
        }
        .teachersdetail .fudong:hover {
            z-index: 3;
	        -webkit-transform: scale(1.2) translateY(-20px);	
	        -moz-transform: scale(1.2) translateY(-20px);	
	        -ms-transform: scale(1.2) translateY(-20px);	
            -o-transform: scale(1.2) translateY(-420px);
	        transform: scale(1.2) translateY(-20px);
	        -webkit-box-shadow: 0 15px 35px rgba(31, 2, 2, 1);
	        -moz-box-shadow: 0 15px 35px rgba(31, 2, 2, 1);
	        box-shadow: 0 15px 35px rgba(31, 2, 2, 1);
        }
        .fudonghide{
            opacity:0;
        }
        }
        .border:hover {
            padding:4px;
            border-radius: 5px;
            background-repeat: repeat-x, repeat-x, repeat-x, repeat-x;
            background-position: 0 0, 0 0, 0 0, 0 0;
            background-image: -moz-linear-gradient(left, #09BA5E 0%, #00C7CE 15%, #3472CF 26%, #00C7CE 48%, #0CCF91 91%, #09BA5E 100%);
            background-image: -webkit-gradient(linear, left top, right top, color-stop(1%,rgba(0,0,0,.3)), color-stop(23%,rgba(0,0,0,.1)), color-stop(40%,rgba(255,231,87,.1)), color-stop(61%,rgba(255,231,87,.2)), color-stop(70%,rgba(255,231,87,.1)), color-stop(80%,rgba(0,0,0,.1)), color-stop(100%,rgba(0,0,0,.25)));
            background-color: #39f; /* Just do something for IE-suck*/
            filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00BA1B', endColorstr='#00BA1B',GradientType=1 );
            -webkit-animation-direction: normal;
            -webkit-animation-duration: 20s;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-name: colors;
            -webkit-animation-timing-function: ease;
            -moz-transition-property: background-position;
            -moz-transition-duration: 120s;
            -moz-transition-timing-function: linear;
            -webkit-transition-property: background-position;
            -webkit-transition-duration: 120s;
            -webkit-transition-timing-function: linear;
            -o-transition-property: background-position;
            -o-transition-duration: 120s;
            -o-transition-timing-function: linear;
            transition-property: background-position;
            transition-duration: 120s;
            transition-timing-function: linear;
            background-position: -5400px 0, -4600px 0, -3800px 0, -3000px 0;
        }
        
        @keyframes colors {
            0% {
                background-color: #39f;
            }
            15% {
                background-color: #F246C9;
            }
            30% {
                background-color: #4453F2;
            }
            45% {
                background-color: #44F262;
            }
            60% {
                background-color: #F257D4;
            }
            75% {
                background-color: #EDF255;
            }
            90% {
                background-color: #F20006;
            }
            100% {
                background-color: #39f;
            }
        }
        @-webkit-keyframes colors{
            0% {
                background-color: #39f;
            }
            15% {
                background-color: #F246C9;
            }
            30% {
                background-color: #4453F2;
            }
            45% {
                background-color: #44F262;
            }
            60% {
                background-color: #F257D4;
            }
            75% {
                background-color: #EDF255;
            }
            90% {
                background-color: #F20006;
            }
            100% {
                background-color: #39f;
            }
        }
        @-moz-keyframes colors{
            0% {
                background-color: #39f;
            }
            15% {
                background-color: #F246C9;
            }
            30% {
                background-color: #4453F2;
            }
            45% {
                background-color: #44F262;
            }
            60% {
                background-color: #F257D4;
            }
            75% {
                background-color: #EDF255;
            }
            90% {
                background-color: #F20006;
            }
            100% {
                background-color: #39f;
            }
        }
        @-o-keyframes colors{
            0% {
                background-color: #39f;
            }
            15% {
                background-color: #F246C9;
            }
            30% {
                background-color: #4453F2;
            }
            45% {
                background-color: #44F262;
            }
            60% {
                background-color: #F257D4;
            }
            75% {
                background-color: #EDF255;
            }
            90% {
                background-color: #F20006;
            }
            100% {
                background-color: #39f;
            }
        }
        .light0 {
            cursor: pointer;
            position: absolute;
            left: -250px;
            top: 0;
            width: 188px;
            height: 428px; /* 根据图像高度自行修改 */
            background-image: -moz-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0));
            background-image: -webkit-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.5),rgba(255,255,255,0));
            transform: skewX(-25deg);
            -o-transform: skewX(-25deg);
            -moz-transform: skewX(-25deg);
            -webkit-transform: skewX(-25deg);
        }
        .border:hover .light0 {
            -webkit-animation:light0 2s infinite;
            animation:light0 2s infinite;
        }
        @keyframes light0{
            25%{
                left: 250px; /* 根据图像宽度自行修改 */
            }
            100%{
                left: 250px;
            }
        }
        @-webkit-keyframes light0{
            25%{
                left: 250px; /* 根据图像宽度自行修改 */
            }
            100%{
                left: 250px;
            }
        }
        @-o-keyframes light0{
            25%{
                left: 250px; /* 根据图像宽度自行修改 */
            }
            100%{
                left: 250px;
            }
        }
        @-moz-keyframes light0{
            25%{
                left: 250px; /* 根据图像宽度自行修改 */
            }
            100%{
                left: 250px;
            }
        }
        .light1 {
            left: -300px;
            width: 285px;
            height: 260px; /* 根据图像高度自行修改 */
        }
        .border:hover .light1 {
            -webkit-animation:light1 2s infinite;
            animation:light1 2s infinite;
        }
        @keyframes light1{
            25%{
                left: 300px; /* 根据图像宽度自行修改 */
            }
            100%{
                left: 300px;
            }
        }
        @-webkit-keyframes light1{
            25%{
                left: 300px; /* 根据图像宽度自行修改 */
            }
            100%{
                left: 300px;
            }
        }
        @-o-keyframes light1{
            25%{
                left: 300px; /* 根据图像宽度自行修改 */
            }
            100%{
                left: 300px;
            }
        }
        @-moz-keyframes light1{
            25%{
                left: 300px; /* 根据图像宽度自行修改 */
            }
            100%{
                left: 300px;
            }
        }
        .lighttxt{
            left: -160%;
            width: 120%;
            height: 100%; /* 根据图像高度自行修改 */
            animation:lighttxt 1s ease-in 1;
            animation-delay:1.8s;
            -webkit-animation:lighttxt 1s ease-in 1;
            -webkit-animation-delay:1.8s;
            -o-animation:lighttxt 1s ease-in 1;
            -o-animation-delay:1.8s;
            -moz-animation:lighttxt 1s ease-in 1;
            -moz-animation-delay:1.8s;
        }
        @keyframes lighttxt{
            25%{
                left: 140%; /* 根据图像宽度自行修改 */
            }
            100%{
                left: 140%;
            }
        }
        @-webkit-keyframes lighttxt{
            25%{
                left: 140%; /* 根据图像宽度自行修改 */
            }
            100%{
                left: 140%;
            }
        }
        @-o-keyframes lighttxt{
            25%{
                left: 140%; /* 根据图像宽度自行修改 */
            }
            100%{
                left: 140%;
            }
        }
        @-moz-keyframes lighttxt{
            25%{
                left: 140%; /* 根据图像宽度自行修改 */
            }
            100%{
                left: 140%;
            }
        }
        .detailinfo {
            z-index:3;
            width:960px !important;
            height:600px !important;
            display:block;
            opacity:0;
            border:2px solid rgba(255,255,255,.3);
            animation:detailshow 1s ease-in-out;
            animation-fill-mode:forwards;
            box-shadow:0 0 10px rgba(0,0,0,.7);
            -webkit-animation:detailshow 1s ease-in-out;
            -webkit-animation-fill-mode:forwards;
            -webkit-box-shadow:0 0 10px rgba(0,0,0,.7);
            -o-animation:detailshow 1s ease-in-out;
            -o-animation-fill-mode:forwards;
            -moz-animation:detailshow 1s ease-in-out;
            -moz-animation-fill-mode:forwards;
            -moz-box-shadow:0 0 10px rgba(0,0,0,.7);
        }
        @keyframes detailshow{
            0%{
                transform:scale(0) skewX(30deg);
                opacity:0;
            }
            10%{
                transform:scale(-0.2) skewX(-20deg);
                opacity:0.4;
            }
            20%{
                transform:scale(0.4) skewX(10deg);
                opacity:1.0;
            }
            30%{
                transform:scale(-0.6) skewX(-6deg);
                opacity:1.0;
            }
            40%{
                transform:scale(0.8) skewX(0deg);
                opacity:1.0;
            }
            100%{
                transform:scale(1) skewX(0deg);
                opacity:1.0;
            }
        }
        @-webkit-keyframes detailshow{
            0%{
                -webkit-transform:scale(0) skewX(30deg);
                opacity:0;
            }
            10%{
                -webkit-transform:scale(-0.2) skewX(-20deg);
                opacity:0.4;
            }
            20%{
                -webkit-transform:scale(0.4) skewX(10deg);
                opacity:1.0;
            }
            30%{
                -webkit-transform:scale(-0.6) skewX(-6deg);
                opacity:1.0;
            }
            40%{
                -webkit-transform:scale(0.8) skewX(0deg);
                opacity:1.0;
            }
            100%{
                -webkit-transform:scale(1) skewX(0deg);
                opacity:1.0;
            }
        }
        @-o-keyframes detailshow{
            0%{
                -o-transform:scale(0) skewX(30deg);
                opacity:0;
            }
            10%{
                -o-transform:scale(-0.2) skewX(-20deg);
                opacity:0.4;
            }
            20%{
                -o-transform:scale(0.4) skewX(10deg);
                opacity:1.0;
            }
            30%{
                -o-transform:scale(-0.6) skewX(-6deg);
                opacity:1.0;
            }
            40%{
                -o-transform:scale(0.8) skewX(0deg);
                opacity:1.0;
            }
            100%{
                -o-transform:scale(1) skewX(0deg);
                opacity:1.0;
            }
        }
        @-moz-keyframes detailshow{
            0%{
                -moz-transform:scale(0) skewX(30deg);
                opacity:0;
            }
            10%{
                -moz-transform:scale(-0.2) skewX(-20deg);
                opacity:0.4;
            }
            20%{
                -moz-transform:scale(0.4) skewX(10deg);
                opacity:1.0;
            }
            30%{
                -moz-transform:scale(-0.6) skewX(-6deg);
                opacity:1.0;
            }
            40%{
                -moz-transform:scale(0.8) skewX(0deg);
                opacity:1.0;
            }
            100%{
                -moz-transform:scale(1) skewX(0deg);
                opacity:1.0;
            }
        }
        .detaildis {
            z-index:3;
            width:960px !important;
            height:600px !important;
            display:block;
            border:2px solid rgba(255,255,255,.3);
            background-color:gray;
            animation:detailhide 1s ease-in;
            animation-fill-mode:forwards;
            -webkit-animation:detailhide 1s ease-in;
            -webkit-animation-fill-mode:forwards;
            -o-animation:detailhide 1s ease-in;
            -o-animation-fill-mode:forwards;
            -moz-animation:detailhide 1s ease-in;
            -moz-animation-fill-mode:forwards;
            position:relative;
        }
        @keyframes detailhide{
            10%{
                transform:translateY(80px);
            }
            40%{
                transform:translateY(-180px);
                opacity:0.5;
            }
            100%{
                transform:translateY(-180px);
                opacity:0;
            }
        }
        @-webkit-keyframes detailhide{
            10%{
                -webkit-transform:translateY(80px);
            }
            40%{
                -webkit-transform:translateY(-180px);
                opacity:0.5;
            }
            100%{
                -webkit-transform:translateY(-180px);
                opacity:0;
            }
        }
        @-o-keyframes detailhide{
            10%{
                -o-transform:translateY(80px);
            }
            40%{
                -o-transform:translateY(-180px);
                opacity:0.5;
            }
            100%{
                -o-transform:translateY(-180px);
                opacity:0;
            }
        }
        @-moz-keyframes detailhide{
            10%{
                -moz-transform:translateY(80px);
            }
            40%{
                -moz-transform:translateY(-180px);
                opacity:0.5;
            }
            100%{
                -moz-transform:translateY(-180px);
                opacity:0;
            }
        }
        .allinfo .det-tit {
            color:#f8b62d;
        }
        .allinfo .det-tit:nth-child(1),.allinfo .det-tit:nth-child(6) {
            opacity:0;
            transform-origin:100% 100%;
            transform:translateX(100%);
            animation:textani 0.8s ease-in;
            animation-delay:0.8s;
            animation-fill-mode:forwards;

            -webkit-transform-origin:100% 100%;
            -webkit-transform:translateX(100%);
            -webkit-animation:textani 0.8s ease-in;
            -webkit-animation-delay:0.8s;
            -webkit-animation-fill-mode:forwards;

            -o-transform-origin:100% 100%;
            -o-transform:translateX(100%);
            -o-animation:textani 0.8s ease-in;
            -o-animation-delay:0.8s;
            -o-animation-fill-mode:forwards;

            -moz-transform-origin:100% 100%;
            -moz-transform:translateX(100%);
            -moz-animation:textani 0.8s ease-in;
            -moz-animation-delay:0.8s;
            -moz-animation-fill-mode:forwards;
        }
        .allinfo .det-txt a {
            font-size:14px;
            color:#fff;
        }
        .allinfo .paddtop {
            padding-top:30px;
        }
        .allinfo .det-txt:nth-child(3),.allinfo .det-txt:nth-child(8) {
            font-size:16px;
            opacity:0;
            transform-origin:100% 100%;
            transform:translateX(100%);
            animation:textani 0.8s ease-in;
            animation-delay:1.2s;
            animation-fill-mode:forwards;

            -webkit-transform-origin:100% 100%;
            -webkit-transform:translateX(100%);
            -webkit-animation:textani 0.8s ease-in;
            -webkit-animation-delay:1.2s;
            -webkit-animation-fill-mode:forwards;

            -o-transform-origin:100% 100%;
            -o-transform:translateX(100%);
            -o-animation:textani 0.8s ease-in;
            -o-animation-delay:1.2s;
            -o-animation-fill-mode:forwards;

            -moz-transform-origin:100% 100%;
            -moz-transform:translateX(100%);
            -moz-animation:textani 0.8s ease-in;
            -moz-animation-delay:1.2s;
            -moz-animation-fill-mode:forwards;
        }
        .allinfo .det-txt:nth-child(5) {
            text-align:justify;
            opacity:0;
            transform-origin:100% 100%;
            transform:translateX(100%);
            animation:textani 0.8s ease-in;
            animation-delay:1.4s;
            animation-fill-mode:forwards;

            -webkit-transform-origin:100% 100%;
            -webkit-transform:translateX(100%);
            -webkit-animation:textani 0.8s ease-in;
            -webkit-animation-delay:1.4s;
            -webkit-animation-fill-mode:forwards;

            -o-transform-origin:100% 100%;
            -o-transform:translateX(100%);
            -o-animation:textani 0.8s ease-in;
            -o-animation-delay:1.4s;
            -o-animation-fill-mode:forwards;

            -moz-transform-origin:100% 100%;
            -moz-transform:translateX(100%);
            -moz-animation:textani 0.8s ease-in;
            -moz-animation-delay:1.4s;
            -moz-animation-fill-mode:forwards;
        }

        .allinfo .whiteline:nth-child(2),.whiteline:nth-child(4),.whiteline:nth-child(7) {
            opacity:0;
            transform-origin:100% 100%;
            animation:textlineani 0.4s ease-in;
            animation-delay:0.8s;
            animation-fill-mode:forwards;

            -webkit-transform-origin:100% 100%;
            -webkit-animation:textlineani 0.4s ease-in;
            -webkit-animation-delay:0.8s;
            -webkit-animation-fill-mode:forwards;

            -o-transform-origin:100% 100%;
            -o-animation:textlineani 0.4s ease-in;
            -o-animation-delay:0.8s;
            -o-animation-fill-mode:forwards;

            -moz-transform-origin:100% 100%;
            -moz-animation:textlineani 0.4s ease-in;
            -moz-animation-delay:0.8s;
            -moz-animation-fill-mode:forwards;
        }
        @keyframes textlineani{
            0% {
                transform:scaleX(0);
            }
            33% {
                transform:scaleX(0.3);
                opacity:0.4;
            }
            66% {
                transform:scaleX(0.6);
                opacity:1;
            }
            100% {
                transform:scale(1);
                opacity:1;
            }
        }
        @-webkit-keyframes textlineani{
            0% {
                -webkit-transform:scaleX(0);
            }
            33% {
                -webkit-transform:scaleX(0.3);
                opacity:0.4;
            }
            66% {
                -webkit-transform:scaleX(0.6);
                opacity:1;
            }
            100% {
                -webkit-transform:scale(1);
                opacity:1;
            }
        }
        @-o-keyframes textlineani{
            0% {
                -o-transform:scaleX(0);
            }
            33% {
                -o-transform:scaleX(0.3);
                opacity:0.4;
            }
            66% {
                -o-transform:scaleX(0.6);
                opacity:1;
            }
            100% {
                -o-transform:scale(1);
                opacity:1;
            }
        }
        @-moz-keyframes textlineani{
            0% {
                -moz-transform:scaleX(0);
            }
            33% {
                -moz-transform:scaleX(0.3);
                opacity:0.4;
            }
            66% {
                -moz-transform:scaleX(0.6);
                opacity:1;
            }
            100% {
                -moz-transform:scale(1);
                opacity:1;
            }
        }
        @keyframes textani{
            45%{
                transform:translateX(30%);
                opacity:0.2;
            }
            50%{
                transform:translateX(-10%);
                opacity:1;
            }
            60%{
                transform:translateX(0);
                opacity:1;
            }
            70%{
                transform:translateX(8%);
                opacity:1;
            }
            80%{
                transform:translateX(-4%);
                opacity:1;
            }
            90%{
                transform:translateX(2%);
                opacity:1;
            }
            100%{
                transform:translateX(0);
                opacity:1;
            }
        }
        @-webkit-keyframes textani{
            45%{
                -webkit-transform:translateX(30%);
                opacity:0.2;
            }
            50%{
                -webkit-transform:translateX(-10%);
                opacity:1;
            }
            60%{
                -webkit-transform:translateX(0);
                opacity:1;
            }
            70%{
                -webkit-transform:translateX(8%);
                opacity:1;
            }
            80%{
                -webkit-transform:translateX(-4%);
                opacity:1;
            }
            90%{
                -webkit-transform:translateX(2%);
                opacity:1;
            }
            100%{
                -webkit-transform:translateX(0);
                opacity:1;
            }
        }
        @-o-keyframes textani{
            45%{
                -o-transform:translateX(30%);
                opacity:0.2;
            }
            50%{
                -o-transform:translateX(-10%);
                opacity:1;
            }
            60%{
                -o-transform:translateX(0);
                opacity:1;
            }
            70%{
                -o-transform:translateX(8%);
                opacity:1;
            }
            80%{
                -o-transform:translateX(-4%);
                opacity:1;
            }
            90%{
                -o-transform:translateX(2%);
                opacity:1;
            }
            100%{
                -o-transform:translateX(0);
                opacity:1;
            }
        }
        @-moz-keyframes textani{
            45%{
                -moz-transform:translateX(30%);
                opacity:0.2;
            }
            50%{
                -moz-transform:translateX(-10%);
                opacity:1;
            }
            60%{
                -moz-transform:translateX(0);
                opacity:1;
            }
            70%{
                -moz-transform:translateX(8%);
                opacity:1;
            }
            80%{
                -moz-transform:translateX(-4%);
                opacity:1;
            }
            90%{
                -moz-transform:translateX(2%);
                opacity:1;
            }
            100%{
                -moz-transform:translateX(0);
                opacity:1;
            }
        }
    </style>