body { margin:0; color:#6C6C6C; font:12px/21px "微软雅黑";background: url(../images/timgback.jpg) no-repeat;background-size:100%;  }
ul, ol, li, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, input { margin:0; padding:0; }
img{border:none;}
li{ list-style:none; }
img{ vertical-align:middle; }
div, ul, dl {zoom:1; }
div:after, ul:after, dl:after { content:""; display:block; clear:both; height:0; visibility:hidden; }
h2,h3,h1{font-size:12px;}
a{color:#fff;text-decoration:none}
a:hover{color:#fff;text-decoration:underline}

.Aflash{width: 618px;margin:100px 500px;background:url(../images/titbg.gif) repeat-x left top;position:relative;overflow:hidden;}
.smallbox b,.pre a,.next a{ background:url(../images/doc.png) no-repeat -1000px -1000px;}
.picUL{margin-top:13px;}
.picLI{position:relative;width:970px; /*overflow:hidden;*/}
.picbox{width:10000px;}
.picbox small{display:block;background:url(http://i0.letvimg.com/img/201112/06/home/tv.png) no-repeat;_background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://i0.letvimg.com/img/201112/06/home/tv.png');position:absolute;left:-8px;top:-7px;width:110px;height:110px;}
.picbox .tv{ display:none;}
.picbox img{height:350px;}
.picLI .bg{background:#000000;opacity:0.5;filter:Alpha(opacity=50);position:absolute;left:0;top: 240px;height: 144px;width:970px;}
.picLI .info{position:absolute;left:0;top: 197px;height:88px;width:500px;padding-left:20px;margin-top:7px;}
.picLI  h2{font-size:12px;font-family:"微软雅黑";overflow:hidden;}
.picLI  p{line-height:20px;}
.picLI a:hover{text-decoration:none;}
.pre,.next{float:left;/* margin-top:28px; */position:relative;width:30px;z-index:11;}
.pre i,.next i{background:url(../images/tipN.png) no-repeat;_background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/tipN.png');display:block;width:25px;height:24px; position:absolute;left:20px;top:2px; display:none;}
.next i{background:url(../images/tipP.png) no-repeat;_background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/tipP.png');left:-20px;}
.smalpic{float:left;width: 220px;display:block;zoom:1;overflow:hidden;padding:10px 5px 0 5px;}
.pre a{width:27px;height:26px;display:block; background-position:-84px -10px;}
.next a{width:27px;height:26px;display:block; background-position:-123px -10px;}
.pre i{display:block;}
.infobtn{position:absolute;right:95px;top: 247px;width: 220px;}
.smallbox img{width:45px;height:45px;border:3px solid #999999;}
.smallbox a{display:block;float:left;width:70px;text-align:center; outline:none; position:relative; z-index:10;}
.smallbox a b{ display:none;}
.smallbox a.on img{border:3px solid #c21f22;}
.smallbox a.on b{ display:block;}
.smallbox b{ background-position:-60px -10px; display:block; zoom:1; width:10px; height:8px; position:absolute; left:30px; top:-7px;}


#j-focusPic{position:relative;overflow:hidden;width: 669px;height: 373px;}
#j-focusPic .j-slider{position:absolute;width:1000000px;}
#j-focusPic .j-item{display:block;float:left;width:970px;height:350px;overflow:hidden;}
#j-focusPic .j-info{/* height:85px; */}
#j-focusPic	.j-infocontainer{display:none;}
#j-focusBtns .j-container{position:relative;height:70px;/* width: 314px; */padding:0px;padding-top: 67px;}
#j-focusBtns .j-slider{position:absolute;}	
#j-focusBtns .pre a,#j-focusBtns .next a{ cursor:pointer;}
#j-focusBtns .on-1 a{ background-position:-84px -46px; cursor:default; }
#j-focusBtns .on-2 a{ background-position:-123px -46px; cursor:default; }
#j-hitshow .j-container{position:relative;width:968px;height:180px;overflow:hidden;}
#j-hitshow .j-slider{position:absolute;width:10000px;}
#j-hitshow .a1.disable{background-position:-10px -10px; cursor:default;}
#j-hitshow .a1.disable:hover{background-position:-10px -10px;}
#j-hitshow .a2.disable{background-position:-23px -10px;cursor:default;}
#j-hitshow .a2.disable:hover{background-position:-23px -10px;}
/* 代码整理：懒人之家 www.lanrenzhijia.com */
/*播放按钮css控制*/
.picLI .info{width: 595px;padding:0;left: 11px;}
.picLI p{ height:100px;}
.path a.i-menu{background:url(../images/menu.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="(../images/menu.png");}
.path a.i-menu:hover{background:url(../images/menu1.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/menu1.png")}
.path a.i-ipad{background:url(../images/ipad.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images");}
.path a.i-ipad:hover{background:url(../images/ipad1.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/ipad1.png")}
.path a.i-iphone{background:url(../images/iphone.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/iphone.png");}
.path a.i-iphone:hover{background: url(../images/iphone1.png) no-repeat;_background: none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/iphone1.png");}
.path a.i-tv{background:url(../images/tv.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/tv.png");}
.path a.i-tv:hover{background: url(../images/tv1.png) no-repeat;_background: none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/tv1.png");}
.path a.i-pc{background:url(../images/pc.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/pc.png");}
.path a.i-pc:hover{background:url(../images/pc1.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/pc1.png");}
hr{
	border: 7px solid #aaa;
	position: relative;
}
.hr2{
	top:6px;
}
.hr1{
	top: 359px;
});}
ul, ol, li, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, input { margin:0; padding:0; }
img{border:none;}
li{ list-style:none; }
img{ vertical-align:middle; }
div, ul, dl {zoom:1; }
div:after, ul:after, dl:after { content:""; display:block; clear:both; height:0; visibility:hidden; }
h2,h3,h1{font-size:12px;}
a{color:#fff;text-decoration:none}
a:hover{color:#fff;text-decoration:underline}

.Aflash{width: 800px;height:600px;margin:100px 350px;background:url(../images/titbg.gif) repeat-x left top;position:relative;overflow:hidden;}
.smallbox b,.pre a,.next a{ background:url(../images/doc.png) no-repeat -1000px -1000px;}
.picUL{margin-top:13px;}
.picLI{position:relative;width:970px; /*overflow:hidden;*/}
.picbox{width:10000px;}
.picbox small{display:block;background:url(http://i0.letvimg.com/img/201112/06/home/tv.png) no-repeat;_background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://i0.letvimg.com/img/201112/06/home/tv.png');position:absolute;left:-8px;top:-7px;width:110px;height:110px;}
.picbox .tv{ display:none;}
.picbox img{/*height:350px;*/ width: 800px;}
.picLI .bg{background:#000000;opacity:0.5;filter:Alpha(opacity=50);position:absolute;left:0;top: 248px;height: 183px;width:970px;}
.picLI .info{position:absolute;left:0;top: 245px;height:88px;width:500px;padding-left:20px;margin-top:7px;}
.picLI  h2{font-size:12px;font-family:"微软雅黑";overflow:hidden;}
.picLI  p{line-height:20px;}
.picLI a:hover{text-decoration:none;}
.pre,.next{float:left;/* margin-top:28px; */position:relative;width:30px;z-index:11;}
.pre i,.next i{background:url(../images/tipN.png) no-repeat;_background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/tipN.png');display:block;width:25px;height:24px; position:absolute;left:20px;top:2px; display:none;}
.next i{background:url(../images/tipP.png) no-repeat;_background:none; _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/tipP.png');left:-20px;}
.smalpic{float:left;width: 220px;display:block;zoom:1;overflow:hidden;padding:10px 5px 0 5px;}
.pre a{width:27px;height:26px;display:block; background-position:-84px -10px;}
.next a{width:27px;height:26px;display:block; background-position:-123px -10px;}
.pre i{display:block;}
.infobtn{position:absolute;right: 0px;top: 231px;width: 220px;}
.smallbox img{width:45px;height:45px;border:3px solid #999999;}
.smallbox a{display:block;float:left;width:70px;text-align:center; outline:none; position:relative; z-index:10;}
.smallbox a b{ display:none;}
.smallbox a.on img{border:3px solid #c21f22;}
.smallbox a.on b{ display:block;}
.smallbox b{ background-position:-60px -10px; display:block; zoom:1; width:10px; height:8px; position:absolute; left:30px; top:-7px;}


#j-focusPic{position:relative;overflow:hidden;width: 900px;height: 373px;}
#j-focusPic .j-slider{position:absolute;width:1000000px;}
#j-focusPic .j-item{display:block;float:left;width:970px;height:350px;overflow:hidden;}
#j-focusPic .j-info{/* height:85px; */}
#j-focusPic	.j-infocontainer{display:none;}
#j-focusBtns .j-container{position:relative;height:70px;/* width: 314px; */padding:0px;padding-top: 67px;}
#j-focusBtns .j-slider{position:absolute;}	
#j-focusBtns .pre a,#j-focusBtns .next a{ cursor:pointer;}
#j-focusBtns .on-1 a{ background-position:-84px -46px; cursor:default; }
#j-focusBtns .on-2 a{ background-position:-123px -46px; cursor:default; }
#j-hitshow .j-container{position:relative;width:968px;height:180px;overflow:hidden;}
#j-hitshow .j-slider{position:absolute;width:10000px;}
#j-hitshow .a1.disable{background-position:-10px -10px; cursor:default;}
#j-hitshow .a1.disable:hover{background-position:-10px -10px;}
#j-hitshow .a2.disable{background-position:-23px -10px;cursor:default;}
#j-hitshow .a2.disable:hover{background-position:-23px -10px;}
/* 代码整理：懒人之家 www.lanrenzhijia.com */
/*播放按钮css控制*/
.picLI .info{width: 350px;padding:0;left: 25px;}
.picLI p{ height:100px;}
.path a.i-menu{background:url(../images/menu.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="(../images/menu.png");}
.path a.i-menu:hover{background:url(../images/menu1.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/menu1.png")}
.path a.i-ipad{background:url(../images/ipad.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images");}
.path a.i-ipad:hover{background:url(../images/ipad1.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/ipad1.png")}
.path a.i-iphone{background:url(../images/iphone.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/iphone.png");}
.path a.i-iphone:hover{background: url(../images/iphone1.png) no-repeat;_background: none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/iphone1.png");}
.path a.i-tv{background:url(../images/tv.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/tv.png");}
.path a.i-tv:hover{background: url(../images/tv1.png) no-repeat;_background: none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/tv1.png");}
.path a.i-pc{background:url(../images/pc.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/pc.png");}
.path a.i-pc:hover{background:url(../images/pc1.png) no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/pc1.png");}
hr{
	border: 7px solid #aaa;
	position: relative;
}
.hr2{
	top:6px;
}
.hr1{
	top: 359px;
}