*{margin:0;padding:0;}
body{overflow-x: hidden !important;}
a{text-decoration: none;}
ul,ol,li{list-style: none;}
.btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled.focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default.focus {
    background-color: #af9350;
    border-color: #ccc;}
.clear{clear:both;}
.activ{background:#af9350;}
.btn-default{
    border: 0;
}
.pagination > li > a, .pagination > li > span {color: #af9350;border-radius: 0;}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #af9350;
    border-color: #af9350;
    color: #fff;
}
.right .tyong{
    color: #fff;
    padding: 7px 66px;
    background: #af9350;
    font-size: 16px;
    }
a:hover, a:focus { color: #e9eaeb;text-decoration: none;}
.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default{
    color: #fff;
    background: #eeb946;
    border-color:0;
}
.btn-default:active:hover{
    color: #fff;
    background: #eeb946;
    border-color:0;
}
.btn-default:focus, .btn-default.focus {
    color: #fff;
    background: #eeb946;
    border-color:0;
}
/*head*/
.w100{
    width: 100%;
    margin:0 auto;
}
.header{
    background: #4c505d;
    height: 62px;
}
.headrig{
    width: 20%;
    float:right;
    /*margin: 1% 0%;*/
    color: #647985;
    padding-top: 1%;
}
.header>img{
    padding: 5px 0 1px 1%;
    width: 136px;
}
.headrig .form-control{
    width: 45%;
    float: left;
}
.glyphicon{
    top:5px;
    font-size: 21px;
    margin-right: 6%;
}
.glyphicon-search{
    left:-8%;
    margin-right:0%;
}
/*head   end*/


/*left*/
.left{
    width: 240px;
    color: #fff;
    padding-bottom: 7%;
    background: #32323a;
    float: left;
    height: 1000px;
    position: absolute;
    top: 0px;
}
.xtop{
    padding: 6% 4%;
    background: #32323a;
    margin-bottom: 4px;
}
.xtop img{
    width: 75px;
    float: left;
    height: 75px;
    margin-left: 3%;
}
.xtop .ntop{
    width: 120px;
    /*color: #af9350;*/
    float: right;
    text-align: left;
}
.xtop span{
    font-size: 20px;
    font-weight: 600;
    /*letter-spacing: 1pt;*/
    margin-bottom: 9%;
    margin-top: 1%;
    display: inline-block;
    color: #fff;
}
.xtop a{
    color: #fff;
    background: #af9350;
    padding: 6px 12px;
    border: 0;
    margin-top: 3px;
    border-radius: 3px;
    display: inline-block;
}
.btn-default:hover {
    color: #fff;
    background-color:#af9350;
    border:0;
}

.left ul li{
    background: #32323a;
    /*margin: 3% 0;*/
    padding: 2% 0%;
    vertical-align: middle;
}
.left ul li h6{
    width: 100px;
    height: 22px;
    color: #b1b2b5;
    text-align: center;
    line-height: 22px;
    /* background: #F0F1F5; */
    border-radius: 5px;
    margin: 1% 3%;
}
.left ul li a{
    display: block;
    padding: 0% 10%;
    vertical-align: middle;
    line-height: 48px;
}
.left ul li a:hover{
background-color: #af9350;
}
.left ul li a i{
    display: inline-block;
    background: url(../images/min.png) no-repeat;
    width: 35px;
    height: 35px;
    position: relative;
    top: 9px;
}
.left ul li a span{
    margin:0 12px;
    font-size: 16px;
    color: #D1D3E0;
}
.left ul li a:hover span{
    color: #fff;
}
.rj{
    
    color: #fff;
    margin: 5% 14%;
    padding: 10px 12px;
    background: #af9350;
    font-size: 16px;
}
.nac::-webkit-scrollbar {
        width:5px;
        height:5px;
        background: #e5e5e6;
        border-radius: 5%;
    }
.left ul li a .i1{
    background-position: 13% 19%;
}
.left ul li a .i2{
    background-position: 13% 36%;
    top: 5px;
}
.left ul li a .i3{
    background-position: 13% 54%;
}
.left ul li a .i4{
    background-position: 53% 22%;
}
.left ul li a .i5{
    background-position: 53% 39%;
}
.left ul li a .i6{
    background-position: 53% 56%;
}
.left ul li a .i7{
    background-position: 90% 1%;
}
.left ul li a .i8{
    background-position: 90% 20%;
}
.left ul li a .i9{
    background-position: 90% 39%;
}
.left ul li a .i10{
    background-position: 90% 58%;
}
.left ul li a .i11{
    background-position: 90% 76%;
}
.left ul li a .i12{
    background-position: 90% 96%;
}

.left ul li a:hover i{
    display: inline-block;
    background: url(../images/min-hover.png) no-repeat;
    width: 35px;
    height: 35px;
    position: relative;
    top: 9px;
}

.left ul li a:hover .i1{
    background-position: 13% 19%;
}
.left ul li a:hover .i2{
    background-position: 13% 36%;
    top: 5px;
}
.left ul li a:hover .i3{
    background-position: 13% 54%;
}
.left ul li a:hover .i4{
    background-position: 53% 22%;
}
.left ul li a:hover .i5{
    background-position: 53% 39%;
}
.left ul li a:hover .i6{
    background-position: 53% 56%;
}
.left ul li a:hover .i7{
    background-position: 90% 1%;
}
.left ul li a:hover .i8{
    background-position: 90% 20%;
}
.left ul li a:hover .i9{
    background-position: 90% 39%;
}
.left ul li a:hover .i10{
    background-position: 90% 58%;
}
.left ul li a:hover .i11{
    background-position: 90% 76%;
}
.left ul li a:hover .i12{
    background-position: 90% 96%;
}
/*left end*/

/*right*/
/*.right{
    width: 83.7%;
    min-height: 682px;
    float: left;
    margin-bottom: 4%;
    background: #f4f4f7;
    height: 840px;
    margin-left: 3px;
    overflow-y: auto;
}*/
#tkk,.right{
    width: 85%;
    float: left;
    /*height: 840px;*/
  
    overflow-y: hidden;
    overflow-x: hidden;
    background: #f4f4f7;
}.btn-primary {
    color: #fff;
    background-color: #af9350;
    border-color: #af9350;
}
#tkk{
    width: 100%;
}
#tkk::-webkit-scrollbar {
        width:10px;
        height:10px;
    }
#tkk::-webkit-scrollbar-track{
        /*display: none;*/
        color:#faa;
    }
  
#tkk::-webkit-scrollbar-thumb{
  display: none;
}
#tkk::-webkit-scrollbar-corner {
  display: none;
}
#table-example{
    width: 100%;
}
#table-example::-webkit-scrollbar {
        width:1px;
        height:1px;
    }
#table-example::-webkit-scrollbar-track{
        /*display: none;*/
        color:#faa;
    }
  
#table-example::-webkit-scrollbar-thumb{
  display: none;
}
#table-example::-webkit-scrollbar-corner {
  display: none;
}
.right>div>h3{
    font-size: 22px;
    width: 100%;
    padding: 19px 4%;
    border-bottom: 2px solid #af9350;
    margin: 0;
    background:#fff;
}
.right>h3{
    font-size: 22px;
    width: 100%;
    padding: 19px 4%;
    border-bottom: 2px solid #af9350;
    margin: 0;
    background:#fff;
}

.right .prob li{
    width: 29%;
    background:#fff;
    margin: 3% 2% 0% 0;
    border: 1px solid #eaeaea;
}
.right .prob li:nth-child(1),.right .prob li:nth-child(4){
    margin-left: 5%;
}
.right .prob li:nth-last-child(1){    
    margin-left: 30px;
}
.right .prob li:nth-child(3){
    /*margin-right:5%;*/
}
.right .prob li h4{
    color: #626a71;
    line-height: 38px;
    border-bottom: 2px solid #f0f0f0;
    margin-left: 5%;
}
.right .prob li a{
    display: block;
    color: #8695a0;
    margin: 6% 5%;
}

.striped,.striped th{
    text-align: center;
}
.striped{
    border-bottom: 1px solid #d2cdcd;
}
.striped tr{
    background:#fff;
}
.striped tr:nth-child(1){
    background:#f4f4f4;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    padding:11px 14px;
    vertical-align: middle;
    font-size: 12px;
}
.coly{
    padding: 6px 22px;
    color: #fff;
    background:#af9350;
}
/*.form-group {margin: 11px 54px;}*/
.fy input{margin: 11px 6px;}
.fy input:nth-child(1){width:136px; }
.fy input:nth-child(2){width:282px;}
.colyy{padding: 6px 40px;color: #fff;background:#af9350;border: 0;}


.right>p{
    font-size: 13px;
    width: 100%;
    padding: 12px 4%;
    margin: 0;
    background:#fff;
    line-height: 34px;
}
.right>p>a{
    float: right;
    padding: 6px 40px;
    color: #fff;
    background:#af9350;

}

.waihui li img{
    padding-top: 9%;
    padding-left: 2%;
}

.right .waihui li{
    width: 20%;
    height: 270px;
    background: #fff;
    margin: 3% 7% 0% 0;
    padding-left: 18px;
    border: 1px solid #eaeaea;
    box-shadow: 1px 1px 14px 3px #d8d8d8;
 }
.right .waihui li:nth-child(1){
    margin-left: 13%;
}
.right .waihui li:nth-child(3){
    /*margin-right:5%;*/
}
.waihui li h4{
    color:#af9350;
    margin-top:16px;
    margin-bottom: 20px;
    border: 0 !important;
}
.waihui li p{
   color:#9e9e9e;
   font-size: 14px;
}
.waihui li hr{
    margin-top: -3px;
    width: 66px;
    border-top: 2px solid #af9350;
}

.colygs1{
    padding: 5px 12px;
    color: #fff;
    background:#af9350;
}.colygs2{
    padding: 5px 12px;
    color: #af9350;
    border: 1px solid #af9350;
    margin-left: 8%;
}

.nogz{
    width:100%;
    height: 200px;
    margin:0;
    padding:0;
    background:url(../images/nogz.jpg) no-repeat;
    background-size: cover;
    display: inline-block;
}

.right .wdg li{
    width: 213px;
    background: #fff;
    margin: 1% 0px 0% 30px;
    border: 1px solid #eaeaea;
    padding:0;
    box-shadow: 1px 1px 16px 5px #e2e2e2;
}
.right .wdg li:nth-child(1){
    margin-left: 58px;
}
.right .prob li:nth-child(5){
    margin-right: 0px;
}
.right .wdg li h4{
    color: #626a71;
    line-height: 38px;
    border-bottom: 2px solid #f0f0f0;
}
.wdg img{
width: 100%;
}
.wdg b,.gzol b{
    color: #aaa;
    font-size: 12px;
    font-weight: 400;
}
.gz1h span{
    color: #f00;
    font-size: 18px;
}
.wdg hr{
    width: 72px;
    margin:0 13px;
    padding:0;
    border-bottom:1px solid #eee;
}
.gz2h,.gz1h{
    padding:6px 5px 2px;
}
.gz2h{
    padding-right: 0;
}
.gz2h p{
    width: 115px;
    margin:0;
    padding:0;
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
}
.gz2h p i{
    top:1px;
    color:#f00;
    font-size: 12px;
}
.gz2h p span{
    color: #f00;
    font-size: 12px;
}
.gz2h>a{
    width: 20px;
    height: 20px;
    background: url(../images/jia.jpg);
    display: inline-block;
    border: 1px solid #d4d4d4;
    position: relative;
    top: 3px;
    margin-left: 0px;
    cursor: pointer;
}
.gzh4{
    font-size:19px; 
    padding:1% 3% 0;
}

.wgzl{
    padding:1% 4% 1% 0;
    border-bottom:1px solid #c2c2c2;
}
.wgzl>a{float: right;}
.po1{   
    width:100%;
    border-bottom: 2px solid #007DE3;
}
.gzol li{
    width: 223px;
    background: #fff;
    margin: 1% 0px 0% 30px;
    border: 1px solid #eaeaea;
    padding: 0;
    box-shadow: 1px 1px 16px 5px #e2e2e2;
}
.gzdiv{
    text-align: center;
}
.gzdiv p{
    color:#9A9A9A;
    margin:0;
}
.gzol li:nth-child(1),.gzol li:nth-child(6){
    margin-left: 58px;
}
.gzh4gz{
    display: inline-block;
    padding: 0% 3% 0;
    margin:0;
}

.myzz{
    width: 100%;
    padding:22px 8% 1%;
}
.zzle{
    width: 67%;
    float:left;
    margin-left: 180px;
    margin-top: 4px;
}
.zzri{  
    width: 31%;
    float:right;
}
.zzto{
    margin:0;
    border: 1px solid #eaeaea;
    box-shadow: 1px 1px 28px 1px #dadada;
}
.zzto>li:nth-child(1){
    padding:4% 4% 2%;
    background: #fefefe;
}
.zzto>li{
    width: 100%;
    display: inline-block;
}
.zzto li img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    float: left;

}
.zzto li div{
    float: left;
    margin-left:2%;
}
.zzto li .zzgg{
    color: #af9350;
    background: #fff;
    border: 1px solid #af9350;
    border-radius: 16px;
    padding: 1px 14px;
    float: right;
    margin: 4% 1%;
}
.zzto>li:nth-child(2){
    padding:2% 6%;
    background: #f8f8f8;
}
.zzbo{
    margin:24px 0 0 0;
    background: #fefefe;    
    padding-bottom: 10px;
    border: 1px solid #eaeaea;
    box-shadow: 0px 0px 16px 4px #d8d8d8;
}
.zzbo>li{
    padding: 2% 4% 2%;
}
.zzbo>li span{
    color: #afaeae;
}
.zzbo>li a{
    padding: 5px 11px;
    color: #fff;
    float: right;
    background: #af9350;
}/*
.zzbo>li:nth-last-child(1){
    font-size: 12px;
    color:#b1adad;
    text-align: center;
    padding: 8% 12% 2%;
}*/
.zzri{
    padding:10px 9px 2%;
    height: 580px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fefefe;
    border: 1px solid #eaeaea;
    box-shadow:0px 0px 16px 4px #d8d8d8;
}
.zzri>li{
    padding: 2% 2% 0%;
    height: 88px;
    overflow: hidden;
    border-bottom: 1px solid #e7e7e7;
    box-sizing: border-box;
}
.zzri>li:nth-child(6){
    border-bottom: 0;
}
.zzri>li p{
    color:#b1adad;
}
.zzri hr{
    margin-top: 3px;
     margin-bottom: 0px; 
    border: 0;
    border-top: 1px solid #dcdcdc;
}

.zxrj{
   
    padding:2% 0% 2% 8%;
}
.zxto{
    height: 55px;
    padding: 15px 2%;
    background: #DEDEDE;
    width: 866px;
    margin: 0 auto 2%;
}
.zxto p{
    margin: 0;
    float: left;
    line-height: 26px;
    font-size: 14px;
}
.ckrj{
    color: #fff;
    background: #af9350;
    padding: 4px 20px;
    float: right;
}
.zxle{
    width: 68%;
    float: left;
    padding: 2% 2% 22px;
    background: #fefefe;
    box-shadow: 1px 1px 11px 3px #dadada;
    height: 535px;
    box-sizing: border-box;
}
.zxle label{
    font-weight: 400;
    color: #5f5d5d;
    display: block;
    font-size: 16px;
    line-height: 33px;
}
.zxri{
    width: 30%;
    float: right;
    box-shadow: 1px 1px 15px 2px #e6e6e6;
}
.rjje{
    margin-top: 3%;
}
.rjje input{
    width: 40%;
    display: inline-block;
}
.rjje p:nth-child(3){
    display: inline-block;
}
.zxle h5{
    font-size: 13px;
    color:#999;
    line-height: 42px;
}
.rjje p span:nth-child(1){
    color:#af9350;
}
.rjje p span:nth-child(2){
    color:#f00;
}
.rjtj{
    color: #fff;
    margin: 6% 39%;
    padding: 7px 66px;
    background: #af9350;
    font-size: 16px;
}
.zxri img{
    width: 359px;
    box-shadow: 1px 1px 22px 13px #e6e6e6;
}
.wdyq{
    width: 752px;
    margin: 4% auto;
    padding: 20px 0px 40px 58px;
    background: #fff;
    box-shadow: 1px 1px 16px 5px #dcdada;
}
.wdyq>div>img{
    width: 80px;
    height: 80px;
    float: left;
}
.wdyq>div>ul{
    float: left;
}
.xyli li{
    display: inline-block;
}
.wdyq b{
    font-weight: 400;
}
.wdyq>div>div>p{
    font-size: 16px;
}  
.wdyq .tj {
    margin: 30px 0 24px 11px;
}
.yqgx3{
    margin: 2% 0 0 0;
}
.yqgx3 h4{
    padding: 0% 0 0 31px;
    height: 22px;
    border-left: 3px solid #af9350;
    line-height: 25px;
}
.yqgx3>div{
    min-height: 500px;
}
.fxan #biao1{
    height: 30px;
    background: #e7e7e7;
    position: relative;
    top: 1px;
    left: -3px;
    line-height: 27px;
    padding: 0 0 0 4%;
    width: 354px;
    border: 0;
}
.fxan{
    width: 86%;
    font-size: 16px;
    position: relative;
}
.fxan .btn{
    color: #fff;
    background: #af9350;
    padding: 4px 20px;
    z-index: 99;
    position: absolute;
    top: 18px;
    border-radius: 0;
}

#share-2{
    padding: 0;
    display: inline-block;
    margin: 23px 20px 0px;
}
/*tree*/
.tree{min-height:20px;padding:19px;margin-bottom:20px;}
.gx_tit{padding:10px;background:#3f81e5;margin-top:30px;color:#fff;font-size:16px;}
.tree li{list-style-type:none;margin:0;padding:10px 5px 0 45px;position:relative}
.tree li::before, .tree li::after{content:'';left:-20px;position:absolute;right:auto;}
.tree li::before{border-left:1px solid #999;padding-left:10px;bottom:50px;height:100%;top:0;width:1px;margin-left:40px;}
.tree li::after{border-top:1px solid #999;height:20px;top:25px;width:25px;margin-left:40px;margin-top:5px;}
.tree li span{-moz-border-radius:5px;-webkit-border-radius:5px;border:1px solid #999;border-radius:5px;display:inline-block;padding:3px 8px;text-decoration:none}
.tree li.parent_li>span{cursor:pointer}
.tree>ul>li::before, .tree>ul>li::after{border:0}
.tree li:last-child::before{height:30px}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span{background:#eee;border:1px solid #94a0b4;color:#000}
[class^="icon-"], [class*=" icon-"]{display: inline-block;width: 14px;height: 14px;margin-top: 1px;line-height: 14px;vertical-align: text-top;background-image: url(../images/glyphicons-halflings.png);background-position: 14px 14px;background-repeat: no-repeat;}
.icon-minus-sign{background-position: -24px -96px;}
.icon-plus-sign{background-position: 0 -96px;}
.parent_li{padding:0 10px;}
.tk_tit{margin:10px 0;overflow:hidden}
.tk_tit i{position:relative;top:5px;margin-right:10px;}
.icon-qzone,.icon-qq,.icon-weibo,.icon-wechat{
    background:#fff;
}
.icon-qzone{
    color:#FDBE3D;
}
.cqzj{
    position: relative;
    left:calc(50% - 144px);
    color: #fff;
    margin-top: 1%;
    padding: 8px 40px;
    background: #af9350;
}
.modal-dialog{
    width: 25%;
}
.cjp1{
    margin:2% 0;
    padding:1% 2%;
}
.cjp1 b{
float: left;
}
.cjp1 span{
float: right;
color: #f00;
}
.cjp2{
    width: 100%;
    height: 52px;
    background: #FAFAFA;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding:1% 2%;
}
.cjp2 span:nth-child(1){
    float: left;
}
.cjp2 span:nth-child(2){
    float: right;
}
.tj1{
    text-align: center;
    border-top:0;
    margin: 8% 0%;
}
.tj1 button{
    background: #af9350;
    padding: 6px 54px;
}
.tkzc{color: #888;padding: 5%;}
.tkzc p a{
    color: #2e2c2c;
}
.left>div>a>img{
    width: 238px;
    padding: 6px 15px 0px 12px;
}
.right>h3>span{ 
    display: block;
    width: 93px;
    margin: 0 auto;
}
.fs{
    display: none;
}
.kcj{width: 106px !important;margin:0 !important;padding:0 !important;font-size: 13px !important;}
/*right*/