@media screen and (max-width:750px){
.left{display: none;}
.logo{margin:0;}
.main{display: none !important;}
.bq{display: none;}
.foot{display: none;}
.fs{display: none;}
.btn_prev{display: none;}   
.btn_next{display: none;}
.hr{float: right;}
.dynamic1 {width:100%;height: 100%;}
.pad{padding: 15px 0;}
.biaoti1 {padding:0 2%;}  
.main_image li span{height: 130px;width: 100%;}
.main_image li a{height: 130px !important;}
.cooperation{margin-bottom: 20%;padding: 2%;}
.main_visual{height:130px;}
.lb {float: none !important;}
.menu {width: 0px !important; float: none !important;display: none;}
#rightsead{display: none;}
.w1200{width: 100% !important;}
.dynamic1 {width:100%;}
.pad{padding: 50px 0;}
.dynamic1>ul>li{width: 47%;margin: 15px 5px;}
.check a {margin:0;display: inline-block;}
.check a img{width:0%;border-radius: 0;}
.jydt{padding: 20px 10px;}
.list>ul>li{width: 62%;}
.gs a {
    width: 100%;
    padding: 2% 0;
    font-size: 1rem;
}
.cooperation ul li {
    margin: 0px;
    width: 168px;
}
.cooperation>ul>li:nth-child(1) {
    margin-left: 0;
}
.trading ul {width: 304px;margin:0 auto;}
.big{padding: 0 2%;}
.trading {width: 100%;float: left;}
.name{
    width: 190px !important;
    margin: 0;
    font-size: 12px;
    padding: 0;}
 .name p {
   margin-right: 0px;
}
.cooperation>ul {display: block;width: 96%;}
.tit h2 {margin-left: 20px;}
.dynamic ul li.on{border:0;}
.dynamic ul li {padding: 0%;width: 332px;margin: 0 auto 10px;}
.dynamic{width: 100% !important;margin-left: 0px;}
.price {font-size: 18px;float: left;margin: 0;}
.new_gs {width: 90%;padding: 0 5%;}
.biaoti1 {padding:0 2%;}
.pa50{padding:5px 5px;}
.big ul li {font-size: 14px;}
.big a{width: 55% !important;}
.new_hy {width: 90%;padding: 0 5%;}
.cooperation ul {padding:0%;}
.mobilee{display: block !important;width: 100%;background: #fff;position: fixed;bottom: 0;z-index: 999;border-top: 2px solid #ff9000;}
.mobilee li{width: 24%;text-align: center;display: inline-block;float: left;height: 65px;line-height:65px;font-size: 1rem;background: #f5f5f5;margin-left: 1%;}
.mobilee li a{ color: #444444;text-decoration: none;padding-top: 15px;}
.activee{background: #ff9000 !important;}
/*.activee a{color: #fff !important;}*/
.cl_main{width: 96% !important;padding:20px 2%;}
.main1_menu{width: 93%;}
.main_lr{float: none;padding-top: 4px;padding-left: 4px;}
.sorting_box{padding:0 8%;height:50px;}
.sorting_btnbox a{width: 74% !important; padding:0;}
.sorting_btnbox a:nth-child(3),.sorting_btnbox a:nth-child(4){width: 15% !important; }
.center_databox {width: 108% !important;margin: 0;padding: 0;float:none;}
.clearfix {width: 133%;margin-top: 3%;}
.person>a {font-size: 13px;}
.ck{display: none;}
#nextbo {width: 47%;margin-left: 16%;margin-top: 8%;float: right;}
.sorting_btnbox i{display: none;}
.chartbox{width: 3%;margin-left: 15%;}.zc_main{width: 100%;}
.from1 {padding: 0px 14%;}
.from1 input {width: 73%;}
.today ul li {padding: 14.5px 4%;}
.from1 span {width: 23%;}
.an{width: 38%;margin-left:30%;height: 48px;line-height: 42px; }
.zc_main1{width: 100%;}
.from2 {padding: 0px 6%;}
.from2 input {width: 73% !important;}
#phone_code{width: 43% !important;}
.from2 span {width: 27%;}
span .button {width: 100% !important;height: 35px !important;line-height:34px !important;font-size: 12px !important;}
/*.sj {padding: 2%;margin-right: 17%;}*/
.btn3 {width: 52%;float: left;margin-top: 2%;}
.btn3 a {width: 29%;height: 28px;display: inline-block;line-height: 2;text-align: center;margin: 6% 0;}
.cl_tj{margin-top: 2%;}
.left_side {width: 93%;padding:0 4%;}
.userdetail_numtable{display: none;}
.datatable_box {width: 36%;}
.henchman_cont_box {width: 84%;padding:20px 0;}
.order_cont_box{padding: 20px 0;}
.guide_nav_list li div .guide_nav_icon{width: 0;display: none;}
.datatable_box td {width: 10%;font-size: 0.2rem;}
.tabBtnBox{width: 96% !important;}
.tabBtnBox div{width: 20% !important;margin:0 !important;padding:0 !important;}
.report_cont_box{padding:0 !important;margin: 0 11%;}
.layui-layer-iframe iframe {width: 54% !important;}
.layui-layer-content {left: 14px;font-size: 1.2rem !important;}
.main{width: 100%;}
.report_wrap iframe{width: 48%;}




.flex th{padding:0;margin: 0 0px;}
.container{width: 100% !important;}
.index-page-a-more{float:none !important;}
.index-page-signal-title{padding-right: 6% !important;}
.index-partner-content a {width: 49% !important;}
.index-partner-content a  img{width: 98%;}
.index-partner-content {width: 100% !important;float: left !important;height: 100% !important;margin-bottom: 58px !important;}
#example_wrapper{padding:0 2% !important;width: 458px;}
label{padding:0!important;}
iframe{width: 124% !important;}
.login1{width: 92%;margin: 2% 3%;}
.login1_lr{display: none;}
.tit h3 {font-size: 15px;}
.login1_lf {padding: 8px 3% !important;width: 92% !important;}
.login1 label input {width: 65% !important;padding: 5px 3%;margin: 0 2px;}
.login1_lf span {padding: 15px 0;width: 30% !important;}
.mz span {width: 30% !important;}
.register-form button{margin-top: 8px !important;margin-left: 0px !important;}
.login1 label label.error {top: 56px;}
.login1 label label#validate-error {top: 17px;right: 15px;}
.mz{margin:0 !important;}
.mz label input{width: 6% !important;margin:0 !important;}
.mz b{padding: 0 !important;top: -1px !important;left: 27px !important;}
.mz b a{line-height: 25px !important;}
.login1 label label#read-error{
     width: 96%;
    margin: -86px 0;
    line-height: 22px;
    }
.btn button {margin-left: 40px;}
.login1_lf p {text-align: center; margin: 5px 0px;}
.mzsm { margin:0 5%;}
.login-form button{width: 86% !important;padding: 9px 0 !important;margin: 11px 36px 8px;}
.login-form label button{width: 55% !important;margin-left: 6px !important;margin-top: 26px;}
.zc>div{width: 100% !important;}
.zc{min-height: 542px}
/*帮助中心*/
.cooperation{margin-bottom: 120px !important;}
.wrapper {width: 100%;}
.page-width {margin: 0 auto !important;width: 80% !important;height:1360px !important;padding: 2% 0;}
.page-widthh {margin: 0 auto !important;width: 100% !important;height:1360px !important;padding: 2% 0;}
.guide_nav_list_col3 li {width: 13% !important;}
.sundry_main h2.title {padding:0 !important;font-size: 20px;}
.secondNavList li {margin: 0 0px;}
.secondNavList li a {width: 85px;}
.secondNavContent h1 {font-size: 16px;}
.help_intro_content_wrap {
    padding: 21px !important;
    width: 133% !important;
}
.help_intro_content_wrap .txt_content {width:320px !important;padding: 2% 1%;}
.help_intro_content_wrap .right_posguide_box{display: none;}
.guide_nav_list_col3 li {width: 50%;}
.help_intro_content_wrap .txt_content h1.title{font-size: 22px;}
.secondNavbox{display: none;}
.cd-nav-trigger{display: none !important;}
#example th{margin: 0 !important;padding:0 !important;font-size: 12px !important;}
table.dataTable thead .sorting{background: none !important;}
table.dataTable thead .sorting_desc{background: none !important;}

.left_imgbox{margin:0;}
.left_imgbox img{width: 90%;margin: 0;}
.clearfix>div:nth-child(1){margin-left: -10% !important;margin-top: 10%;width: 29%;}
.clearfix>div {font-size: 12px;margin-left: -1% !important;margin-top: 1%;width: 13% !important;}
#gaoshou{}
.cl_list ul li{position: relative;}
.cl_list ul li .right_chartbox{position: absolute;top:46%;left:69%;width: 70%;}
.right_chartbox .btn_box a{width: 66px;}




.table>tbody>tr>td {padding: 0px 0px !important;font-size: 12px;}
.table>tbody>tr>td a{padding: 0px 0px !important;font-size: 12px;display: inline-block;}
/*交易*/
.mx {padding: 2%;width: 93%;height: 174px;}
.mx_sy {margin: 18px 6px;font-size: 14px;}
.mx_name {margin: 12px 0px;font-size: 13px;}
.mx_an ul li{display: inline-block;margin:-12px auto 0; margin-left: 24px;}
.dt {display: none;}
.jymx_lf {width:0px;display: none;}
.jymx_lr {width: 100%;padding: 10px 0;}
.mx_name p {
    margin: 10px 0;
    font-size: 12px;
}
.jymx {width: 100%;}
.guide_nav_list li div {height: 45px;padding-top: 20px;}
.guide_nav_list li a {padding-top: 0px;height: auto;}
.mx_an {float: none;width: 240px;margin: 0 auto;}

.kh ul li {width: 32%;margin: 2px;}
.kh ul li img{width:50%;}
.kh h2 {font-size: 13px; }
.kh p {font-size: 12px;}
.fw_wz{ width: 100%;height: auto;}
.fw_tp img{width: 94%;}
.fw1 {height: 606px;}
/*.fwpic1 img{width: 30%}*/
/*.fwpic img{width: 30%}*/
.fwpic,.fwpic1{display: none;width: 0;}
.sj{padding: 2%; width: 100%;height: 170px;}
.sj h2 { font-size: 12px;padding: 0;}
.sj ul li h3 {font-size: 12px;padding: 0;}
.sj ul li img{width: 80%}
.sj ul li {width: 28%;margin: 6px 6px 0;padding: 0;}
.sj ul li p {font-size: 12px;line-height: 16px;}
.dz_pic{display: none;}
.dz_wz {width: 98%;height: auto; margin: 0px 0 50px;}
.dz {padding: 10px;}
/*公司简介*/
.txt1_anmt{margin:0 !important;}
.shuju ul li {width: 24%;font-size: 16px;}
.datatable_box1 tr td {font-size: 12px;}
#yue-chart>div>canvas{width: 380px !important;}
#shouyi-chart>div>canvas{width: 380px !important;height: 300px !important;}
.mx_tx{display: none;margin:0;padding: 0 !important;}
.tit h3 i {display: none;}


/*xin*/
.soin{
    width: 36px;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 20px;
}
/*信号*/
.bt_l>a{width: 69px !important;font-size: 13px !important;}
.bt_l span{display: none;}
.tx1 img {display: none;width: 0;}
#example th {
    margin: 0 !important;
    padding: 0 !important;
    font-size: 12px !important;
    width: 52px !important;
    border-right: 0px;
    font-size: 12px;
}

.name1 {
    width: 78px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
    white-space: nowrap;
}
.name1 {margin-left: 5px !important;width: 54px !important;}
.table>tbody>tr>td {padding: 0px 0px !important;font-size: 12px;border-right: 0 !important;}
.tx1 {display: none;margin: 0 !important;padding: 0 !important;}
.nth1 { width: 40px !important;}
.nth1 .tx1{ display: none;margin:0 !important;padding:0 !important;}
/*#example tr{position: relative;}*/
/*.nth1 .name1 a{position: absolute;}*/
.mx_sy p {font-size: 12px;}
} 