@charset "utf-8";/* CSS Document*/
*{padding:0;margin:0;}
.head{background:#3d404a !important;}
img{border:0px}
a:focus{outline:none;}
body{font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3","微软雅黑", Arial, sans-serif;font-size: 14px;font-weight: 400;font-style: normal;margin: 0;padding: 0;color: #333;}
ul,li{list-style:none;}
.clear{clear:both}
a{text-decoration:none;}
button{border-radius: 5px;}
.w1200{width:1200px;margin:0 auto}
/*.head{height:65px;}*/

.head>.aduser{width: 100%;}
.head>.aduser>div>a>img{margin:7px 0 11px 30px !important;}
.logo{float:left;width:125px;margin-right:50px;display: none;}
.menu{display: none;}
/*.hr{display: none;}*/
/*.headrig{display: block !important;}*/
/*.menu{float:left;}
.menu ul li{float:left;margin: 15px 10px;padding: 12px 20px;font-size:16px;position:relative;}  
.menu ul li a{color:#fff;}
.menu ul li:hover{background: #af9350;}
.menu ul li.on{background: #af9350;}
.menu ul li:hover a{color: #fff;}
.menu ul li.on a{color: #fff;}*/
.hr{float:right;padding:20px 0;margin-right: 57px;}
.search{float:left;width:155px;position:relative;}
.search input{width:120px;height:28px;line-height:28px;border-radius:20px;border:1px solid #ccc;color:#ccc;text-align:right;padding:0 12px;}
.search i{position:absolute;top:8px;left:8px;}
.login{float:left;}
.login a{float:left;width:66px;height:33px;line-height:33px;text-align:center;background:#af9350;color:#fff;border:none;border-radius:5px;margin:0 5px;cursor:pointer}
/* main_image*/.main_visual{width:100%;height:440px;border-top:0px solid #d7d7d7;overflow:hidden;position:relative;}
.main_image{height:440px;overflow:hidden;position:relative;}
.main_image ul{width:9999px;overflow:hidden;position:absolute;top:0;left:0}
.main_image li{float:left;width:100%;}
.main_image li span{display:block;width:100%;height:440px}
.main_image li a{display:block;width:100%;height:440px}
.main_image li .img_1{background:url('../images/banner.jpg') center top no-repeat}
.main_image li .img_2{background:url('../images/banner.jpg') center top no-repeat}
.main_image li .img_3{background:url('../images/banner.jpg') center top no-repeat}
.main_image li .img_4{background:url('../images/banner.jpg') center top no-repeat}
div.flicking_con{position:absolute;top:360px;left:50%;z-index:99;width:175px;height:10px;margin:0 0 0 -90px;}
div.flicking_con a{float:left;width:18px;height:18px;margin-left:10px;padding:0;display:block;text-indent:-1000px;background:#fff;border-radius:50%;}
div.flicking_con a.on{background-position:0 -21px;background:#e01309}
#btn_prev{background:url(../images/prev.png);width:60px !important;height:60px;position:absolute;top:190px;left:2%;}
#btn_next{background:url(../images/next.png);width:60px !important;height:60px;position:absolute;top:190px;right:2%;}
.check a{margin:50px 27px;float:left;}
.dynamic{width:780px;float:left;}
.trading{width:380px;float:right;}
.tit{margin-bottom:25px;}
.tit h2{font-size:20px;font-weight:normal}
.tit span{font-size:16px;color:#939599;margin-left:15px;}
.time{color: #fff;padding: 10px 20px;}
.name{width:500px;float:left;margin-left:20px;font-size:17px;line-height:24px;padding:2px;}
.name i{position:relative;top:3px;margin:0 10px;}
.name span{font-size:14px;color:#ffaa00;}
.name p{font-size:15px;color:#666;}
.price{float:right;font-size:30px;color:#ffaa00;line-height:50px;}
.dynamic ul li{padding:15px 25px;background:#fff;overflow:hidden;border:1px solid #fff;margin-bottom:10px;}
.dynamic ul li.on{border:1px solid #ff3341;}
.dynamic ul li:hover{border:1px solid #ff3341;}
.trading ul{padding:0 20px;background:#fff;overflow:hidden}
.trading ul li{overflow:hidden;border-bottom:1px solid #e6e6e6;padding:21px 0;}
.t_tx{width:56px;height:56px;overflow:hidden;float:left;}
.t_tx img{width:100%;}
.t_name{float:left;margin-left:15px;}
.cooperation ul{background:#fff;padding:55px 0;overflow:hidden}
.cooperation ul li{float:left;margin:0 35px;}
.foot{background:#52535e;padding:25px 0;margin-top:70px;}
.bigtitle{margin:10px 0;}
.title{margin-bottom: 15px;color: #fff;font-size: 16px;font-weight: 400;}
.content{padding:35px 0;border-bottom:1px solid #74757d}
.yq{padding:10px 0;overflow:hidden;color:rgba(255,255,255,.5);}
.yq span{width:70px;float:left;color:#e6e6e6;display:inline-block;line-height:18px;}
.yq a{color:rgba(255,255,255,.5);margin:0 10px;}
.lj{float:left;width:1130px;line-height:18px;}
.bq{background:#43444e;text-align:center;color:rgba(255,255,255,.3);padding:10px 0;}
/* remove the bullets and set the margin and padding to zero for the unordered list*/.menu ul{padding:0;margin:0;list-style-type: none;positon:relative;}
/* float the list so that the items are in a line and their position relative so that the drop down list will appear in the right place underneath each list item*//* style the links to be 104px wide by 30px high with a top and right border 1px solid white. Set the background color and the font size.*/.menu ul li a, .menu ul li a:visited{display:block;text-align:center;text-decoration:none;positon:relative;-moz-transition: .5s ease-in;-webkit-transition: .5s ease-in;-o-transition: .5s ease-in;transition: .5s ease-in;}
/* make the dropdown ul invisible*/.menu ul li ul{
    display: none;
    position: absolute;
    text-align: center;
    background: #2a2f37;
    color: #fff;
    width: 120px;
    margin-top: 11px;
    left: -8px;}
.menu ul li ul li a{color:#fff;}
.menu ul li:hover ul{display:block;}
.menu ul li:hover ul li a{display:block;color:#fff;z-index:999;}
.submenu li:hover ul li a:hover{background:#075e75;color:#333;border:none;}
.submenu li{text-align: center;width: 100%;padding: 20px 0 !important;margin: 0 !important;border:none !important;}
.submenu li:hover{background:#075e75}
.banner img{width:100%;}
.js{text-align:center}
.tit1{text-align:center;padding:35px 0;}
.tit1 i{text-align:center;width:285px;height:3px;background:#b5b5b5;display:block;margin:30px auto;}
.tit1 i span{width:80px;background:#af9350;display:block;z-index:9999;position:relative;}
.tit1 h2{color:#6a7884;font-size:38px;font-weight:normal}
.tit1 p{font-size:18px;line-height:36px;color:#666;}
.ready{background:#2c3e50;padding:40px 0;text-align:center;font-size:28px;color:#fff;}
.ys_l{width:570px;float:left}
.ys_r{width:600px;float:left;}
.s1{width:60px;float:left;margin-right:20px;}
.s2{float:left;width:500px;}
.s2 h2{font-size:23px;color:#6a7884;font-weight:normal}
.s2 p{font-size:14px;color:#7b8a97;line-height:24px;margin-top:20px;}
.ys_r ul li{margin:30px 0;overflow:hidden}
.bt{padding:10px 0;overflow:hidden;}
.bt_l{float:left;width:400px;}
.bt_l i{position:relative;float:left;top:3px;margin-right:10px;}
.bt_l h2{float:left;font-weight:normal;font-size:20px;color:#af9350;}
.bt_l span{font-size:16px;margin-left:20px;color:#939599;line-height:24px;}
.bt_r{float:right;color:#999;line-height:24px;}
.bt_r i{position:relative;top:2px;margin-right:10px;}
.hq_list{margin:20px 0;}
.hq_l{float:left;width:226px;background:#fff;color:#ff6b6b;font-size:14px;height:923px;}
.hq_l ul li{height:66px;line-height:66px;padding:0 20px;border-bottom:1px solid #ccc;}
.hq_l ul li:hover{background:#ff6b6b;color:#fff;}
.hq_l ul li.on{background:#ff6b6b;color:#fff;}
.h1 i{width:25px;height:25px;background:url(../images/h11.png);display:inline-block;position:relative;top:4px;margin-right:25px;}
.hq_l ul li.h1:hover i{background:url(../images/h1.png);}
.hq_l ul li.h1.on i{background:url(../images/h1.png);}
.h2 i{width:25px;height:25px;background:url(../images/h2.png);display:inline-block;position:relative;top:4px;margin-right:25px;}
.hq_l ul li.h2:hover i{background:url(../images/h22.png);}
.h2 i{width:25px;height:25px;background:url(../images/h2.png);display:inline-block;position:relative;top:4px;margin-right:25px;}
.hq_l ul li.h2:hover i{background:url(../images/h22.png);}
.h3 i{width:25px;height:25px;background:url(../images/h3.png);display:inline-block;position:relative;top:4px;margin-right:25px;}
.hq_l ul li.h3:hover i{background:url(../images/h33.png);}
.h4 i{width:25px;height:25px;background:url(../images/h4.png);display:inline-block;position:relative;top:4px;margin-right:25px;}
.hq_l ul li.h2:hover i{background:url(../images/h44.png);}
.h5 i{width:25px;height:25px;background:url(../images/h5.png);display:inline-block;position:relative;top:4px;margin-right:25px;}
.hq_l ul li.h5:hover i{background:url(../images/h55.png);}
.h6 i{width:25px;height:25px;background:url(../images/h6.png);display:inline-block;position:relative;top:4px;margin-right:25px;}
.hq_l ul li.h6:hover i{background:url(../images/h66.png);}
.h7 i{width:25px;height:25px;background:url(../images/h7.png);display:inline-block;position:relative;top:4px;margin-right:25px;}
.hq_l ul li.h7:hover i{background:url(../images/h77.png);}
.h8 i{width:25px;height:25px;background:url(../images/h8.png);display:inline-block;position:relative;top:4px;margin-right:25px;}
.hq_l ul li.h8:hover i{background:url(../images/h88.png);}
.h9 i{width:25px;height:25px;background:url(../images/h9.png);display:inline-block;position:relative;top:4px;margin-right:25px;}
.hq_l ul li.h9:hover i{background:url(../images/h99.png);}
.hq_r{width:909px;float:right;background:#fff;padding:25px;}
.biaoti h2{border-bottom:1px solid #ccc;padding-bottom:15px;}
.biaoti span{padding-bottom:15px;border-bottom:1px solid #ff6b6b;font-size:18px;font-weight:normal}
.hq_r table{width:100%;text-align:center;margin:10px 0;}
.hq_r table tr th{background:#fafafc;padding:15px 0;}
.hq_r table tr td{font-size:14px;padding:15px 0;border-bottom:1px solid #eee;}
.green{color:#1fa10a}
.new{margin:15px 0;background:#fff;padding:15px;box-shadow:0 0 10px #ccc;overflow:hidden}
.new_tit{border-bottom:1px solid #eee;padding-bottom:10px;}
.new_tit i{position:relative;top:2px;margin-right:5px;}
.new_tit a{margin:0 10px;color:#7d7d7d;}
.new ul li{padding:10px 0 ;border-bottom:1px solid #ccc;}
.new ul li h2{font-size:18px;font-weight:normal;padding-bottom:25px;}
.xw{overflow:hidden}
.xw_pic{width:151px;height:92px;float:left;}
.xw_wz{width:960px;padding-left:40px;float:left;color:#7d7d7d;font-size:12px;line-height:24px;}
.xw_nr{overflow:hidden;margin:20px 0;}
.more{float:left;color:#af9350;font-size:12px;}
.rl{float:right;}
.rl i{position:relative;top:4px;margin:0 10px}
.ym{width: 285px;margin: 0 auto;}
.ym ul li{color:#000;margin:5px;float:left;cursor:pointer}
.ym ul li a{padding:10px 15px;display: inline-block;}
.ym ul li:hover{background:#af9350;color:#fff;}
.ym ul li.on{background:#af9350;border:1px solid #af9350;}
.ym ul li.on a{color:#fff}
.new_wz{margin:15px 0;background:#fff;padding:15px;box-shadow:0 0 10px #ccc;overflow:hidden}
.wz{text-align:center}
.wz p{text-align:left;line-height:36px;}
.wz h2{font-size:24px;color:#333;font-weight:normal;padding:20px 0;}
.wz span{margin:0 10px;color:#aaa;padding-bottom:10px;}
.jy{background:#fafafc;padding:10px;margin:10px 0;}
.jy label{margin-right:20px;}
.jy label select{margin:0 10px;height:25px;}
.jy_list table{width:100%;}
.jy_lie{background:#fff;padding:15px 0;overflow:hidden}
.jy_lie ul li{float:left;text-align:center;width:133px;}
.jy_lie ul li a{color:#333;}
.jy_lie1 ul li{background:#fff;padding:20px 0;height:70px;line-height:70px;text-align:center;width:133px;float:left;}
.jy_lie1 ul{margin:10px 0;font-size:20px;overflow:hidden;border:1px solid #fff;}
.jy_lie1 ul:hover{border:1px solid #ff3341}
.tx1 img{width:45px;float:left;}
.tx1{padding:0 10px;}
.name1{line-height:24px;font-size:17px;}
.name1 p img{width:20px;color:#ffaa00}
.name1 p span{color:#ffaa00;}
.jy_lie1 ul li button{width:68px;height:25px;line-height:25px;background:#af9350;border:none;color:#fff;border-radius:2px;cursor:pointer}
.zc{background:url(../images/bg.jpg) no-repeat;background-size:100% 100%;padding:60px 0;}
.tit h3{font-size:24px;font-weight:normal;text-align:center}
.tit h3 i{width:100px;display:inline-block;height:1px;background:#ccc;margin:8px 10px}
.tit p a{color:#0066cc}
.login1{position:relative;background:#fff;box-shadow:0 0 10px #ccc;margin:40px 0;overflow:hidden}
.login1 label{display:block;position:relative;margin:30px 0;/*overflow:hidden*/}
.login1 label label.error{position:absolute;right: 119px;top: 26px;margin: 0px;color: #f00;}
.login1 label #validate-error{right: 330px;}
.login1 label #validate2-error{right: 330px;}
.login1 label #tuijian-error{right: 328px;}
.login1 label input{width:75%;height:50px;padding:5px 40px;color:#4c4747;box-sizing: border-box;font-size:15px; }
.login1 i{position:absolute;top:16px;left:10px;}
.btn button{width:86%;margin-left:100px;background:#af9350;border:none;padding:15px 0;color:#fff;font-size:16px;cursor:pointer}
.login1_lf{padding:40px 30px;width:810px;float:left;}
.login1_lr{padding:40px 30px;width:270px;float:left;background:#f5f5f5;height:100%;position:absolute;right:0;}
.login1_lf p{text-align:right;margin:5px 15px;}
.login1_lf p a{color:#0066cc}
.login1_lf span{float:left;padding:15px 0;width:100px;font-size:16px;}
.login1_lf label input{}
.wz1{position:absolute;overflow:hidden;line-height:24px;}
.mz{margin-left:100px;margin-top: -20px;margin-bottom: 30px;}
.button{width:160px;height:40px;line-height:40px;margin:20px 0 45px 0;text-align:center;color:#fff;border-radius:5px;background:#af9350;}
.mzsm{margin:50px 0 0 100px;padding:10px;overflow:hidden;height:100px;overflow-y:auto;border:1px solid #eee}
.mzsm h3{color:#af9350;font-size:18px;text-align:center}
.mzsm p{font-size:14px;line-height:24px;text-align:left}
.hy_main{width:1200px;margin:30px auto;overflow:hidden}
.hy_l{width:250px;float:left;background:#525252;}
.hy_r{float:left;padding:22px 40px;}
.tx{overflow: hidden;padding: 30px 25px 10px 25px;}
.tx_pic{float:left;}
.tx_wz{float:left;padding:3px -10px;margin-top:20px;margin-left: 13px;}
.tx_wz h3{font-size:16px;color:#fff;}
.tx_wz p{font-size:14px;color:#fcae06;margin:5px 0}
.money{color:#fff;margin:5px 0;overflow:hidden;padding:5px 20px;}
.m_l{float:left;}
.m_r{float:right;}
.deposit{padding: 5px 20px;overflow: hidden;}
.deposit ul li{width: 88px;height: 28px;line-height: 28px;background: #009bdb;float: left;text-align: center;margin: 8px;color: #fff;border-radius: 5px;cursor: pointer;}
.list{margin-bottom: 227px;margin-top: 10px;}
.list ul li{ font-size: 18px;padding: 3px 20px 10px;border-bottom: 1px solid #8a8a8a;}
.list ul li.on{background: #af9350;}
.list ul li:hover{background: #af9350;}
.list ul li a{color: #fff;/*padding-top: 10px;*/display: inline-block;vertical-align: middle;}
.list ul li i{position: relative;top: 7px;margin-right: 15px;}
.bt h2{font-size: 24px;font-weight: normal;padding-bottom: 15px;}
.bt span{border-bottom: 4px solid #af9350;padding-bottom: 15px;}
.qb{padding:54px 0;text-align:center;border:1px solid #ccc;font-size:18px;    margin-top: 10px;}
.qb a{
    color: #fff;
    background: #af9350;
    padding: 6px 20px;
    border-radius: 5px;}
.gd{overflow: hidden;padding: 15px 0;border-bottom: 1px dashed #ccc;}
.gd_lf{font-size: 14px;float: left;line-height: 35px;}
.gd_lr{float: right;width: 180px;height: 35px;text-align: center;background: #af9350;line-height: 35px;cursor: pointer;color: #fff;}
.gd_rs{float: right;width: 180px;height: 35px;text-align: center;line-height: 35px;cursor: pointer;color: #666;}
.members_lr h2{border-bottom: 2px solid #ccc;padding-bottom: 15px;font-weight: normal;font-size: 24px;font-weight: normal;padding-top:10px;}
.lc1 ul li{width: 223px;float: left;text-align: center;margin: 40px 0;}
.lc1 ul li i{position: relative;top: 30px;}
.lc1 ul li h2{border: none;font-size: 18px;margin: 10px 0;}
.lc1 ul li p{line-height: 24px;color: #666;font-size: 12px;border: none;padding: 0;margin: 0;}
.zh_tx{background:#fff;padding: 25px 30px 16px;margin:1px 0;overflow:hidden;box-shadow: 0px 0px 16px 4px #d8d8d8}
.tx_pic1{float:left;text-align:center;width: 90px;}
/*.tx_pic1 img{border-radius:50%;}*/
.tx_pic1 p{margin:8px 0;}
.zh_name{padding-top: 10px;}
.zh_name>div{float:left;font-size: 16px;margin: 0 14px;}
.ni{font-size:18px;}
.zh_name>div:nth-child(3){float: right;}
.ni span{margin-left:80px;}
.cj{float:left;margin:0;color:#6f6f6f;}
.cj span{margin-left: 10px;color: #af9350;}
.tx_pic1 p a{color:#0066cc}
.sz_list{background: #fff;padding: 15px 40px;/*margin: 15px 0;*/overflow: hidden;}
.sz_list ul li{overflow: hidden;margin: 30px 0;}
.list_wz{float: left;font-size: 16px;color: #666;padding: 0;}
.sz_list p{text-align: left;border: none;padding: 10px 0;margin: 0;font-size: 12px;color: #808080;}
.list_a{float: right;}
.list_a a{font-size: 16px;color: #0046a6;}
.gd_lf input{width:400px;height:30px;line-height:30px;padding:0 10px;border:1px solid #ccc;margin-left:10px;}
.tj{font-size: 14px;}
.tj .me{
    display: inline-block;
    margin-right: 109px;
    float: left;
}
.tj span{
    color: #fff;
    background: #f3f3f3;
    padding: 4px 20px;
    border-radius: 0;
    display: inline-block;
    float: right;
    margin-right: 68px;
}
.tj span a{color:#fff;}
/*.tree{min-height:20px;padding:0 19px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)}*/
.gx_tit{padding:10px;background:#af9350;margin-top:30px;color:#fff;font-size:16px;}
.tree li{list-style-type:none;margin:0;padding:10px 5px 0 45px;position:relative}
.tree li::before, .tree li::after{content:'';left:-20px;position:absolute;right:auto;}
.tree li::before{border-left:1px solid #999;padding-left:10px;bottom:50px;height:100%;top:0;width:1px;margin-left:40px;}
.tree li::after{border-top:1px solid #999;height:20px;top:25px;width:25px;margin-left:40px;margin-top:5px;}
.tree li span{-moz-border-radius:5px;-webkit-border-radius:5px;border:1px solid #999;border-radius:5px;display:inline-block;padding:3px 8px;text-decoration:none}
.tree li.parent_li>span{cursor:pointer}
.tree>ul>li::before, .tree>ul>li::after{border:0}
.tree li:last-child::before{height:30px}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span{background:#eee;border:1px solid #94a0b4;color:#000}
[class^="icon-"], [class*=" icon-"]{display: inline-block;width: 14px;height: 14px;margin-top: 1px;line-height: 14px;vertical-align: text-top;background-image: url(../images/glyphicons-halflings.png);background-position: 14px 14px;background-repeat: no-repeat;}
.icon-minus-sign{background-position: -24px -96px;}
.icon-plus-sign{background-position: 0 -96px;}
.parent_li{padding:0 10px;}
.tk_tit{margin:10px 0;overflow:hidden}
.tk_tit i{position:relative;top:5px;margin-right:10px;}
.xm{margin:20px 0;font-size:12px;padding:10px 0 15px 0;border-bottom:1px solid #ccc;}
.xm button{background:#af9350;margin:0 30px;color:#fff;border:none;padding:12px 15px;border-radius:5px;}
.tk{overflow: hidden;min-height: 586px;}
#tkk::-webkit-scrollbar-button{
        display: none;
    }
.tk>ul{padding: 2% 4%;background: #fff;width: 660px;}
.tk ul li{
    float: left;
    margin: 23px 40px;
    box-sizing: border-box;
    width: 600px;
}
/*.tk ul li:nth-child(3){width:50%;}*/
.tk>ul>li span{text-align:right;display:inline-block;width:144px;color:#666;margin-right: 20px;}
.tk ul li input,.tk ul li select{width:248px;padding:5px 12px;text-align: left;}
.tk_btn{text-align:center;margin: 0px 0;}
.tk_btn button{margin-top:30px;width:140px;height:36px;margin:30px auto;background:#af9350;color:#fff;border:none;border-radius:5px;margin-left: 70px;}
.tk_btn a{color:#fff;}




.star_list table{width:100%;border:1px solid #ccc;border-bottom:0;}
.star_list table tr th{background:#f5f5f5;padding:15px;text-align:center;border-bottom:1px solid #ccc;}
.star_list table tr th i{position:relative;top:2px;margin-left:5px;}
.star_list table tr td{
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
    font-size: 12px;}
.star_list table tr td a{     
    padding: 5px 10px;
    background-color: #af9350;
    color: #fff;
    border-radius: 5px;
  }

.tx_gg{overflow:hidden}
.tx_gg p{border:none;padding:0 ;font-size:18px;}
.tx_list{float:left;padding:40px 25px;line-height:40px}
.sz_list ul li{overflow:hidden;margin:30px 0;}
.tx_list span{text-align:left;border:none;}
.sz_list p{text-align:left;border:none;padding:10px 0;margin:0;font-size:12px;color:#808080;}
.list_wz{float:left;font-size:16px;color:#666;padding:0;}
.list_a{float:right;}
.list_a a{font-size:14px;color:#0046a6}
.tx_input ul li{margin:20px 0;font-size:16px;color:#666;}
.tx_input ul li select,.tx_input ul li input{width:500px;padding:10px;color:#999;border:1px solid #ccc;}
.czn{width:130px;height:32px;line-height:32px;text-align:center;color:#fff;background:#af9350;border-radius:5px;margin:20px 0;cursor:pointer;font-size:16px;}
.czn[disabled]{background:#ccc}
.czn a{color:#fff;}

.avatar_pic{width:84px;height:84px;}
.tk_btn .rjtjj{
    color: #fff;
    margin: 0% 39%;
    padding: 7px 66px;
    background: #af9350;
    font-size: 16px;
}