@charset "utf-8";/* CSS Document*/
*{padding:0;margin:0;}
.head{background:#3d404a !important;}
img{border:0px}
a:focus{outline:none;}
body{font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans","wenquanyi micro hei","Hiragino Sans GB", "Hiragino Sans GB W3","微软雅黑", Arial, sans-serif;font-size: 15px;font-weight: 400;font-style: normal;margin: 0;padding: 0;color: #333;}
ul,li{list-style:none;}
.clear{clear:both}
a{text-decoration:none;}
button{border-radius: 5px;}
.w1200{width:1200px;margin:0 auto}
 input,select,textarea{
    border: 1px solid #ccc;
    padding: 7px 0px;
    border-radius: 3px;
    padding-left:5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s
    }
input:focus,select:focus,textarea:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6)
}
/*.head{height:65px;}*/
.main_btn1{
	display:none
}
.head>.aduser{width: 100%;}
.head>.aduser>div>a>img{margin:7px 0 11px 30px !important;}
.logo{float:left;width:125px;margin-right:50px;}
.menu{display: none;}
.hr{float:right;padding:20px 0;margin-right: 57px;}
.search{float:left;width:155px;position:relative;}
.search input{width:120px;height:28px;line-height:28px;border-radius:20px;border:1px solid #ccc;color:#ccc;text-align:right;padding:0 12px;}
.search i{position:absolute;top:8px;left:8px;}
.login{float:left;}
.login a{float:left;width:66px;height:33px;font-size:14px;line-height:33px;text-align:center;background:#3583df;color:#fff;border:none;border-radius:5px;margin:0 5px;cursor:pointer}
/* main_image*/.main_visual{width:100%;height:440px;border-top:0px solid #d7d7d7;overflow:hidden;position:relative;}
.main_image{height:440px;overflow:hidden;position:relative;}
.main_image ul{width:9999px;overflow:hidden;position:absolute;top:0;left:0}
.main_image li{float:left;width:100%;}
.main_image li span{display:block;width:100%;height:440px}
.main_image li a{display:block;width:100%;height:440px}
.main_image li .img_1{background:url('../images/banner.jpg') center top no-repeat}
.main_image li .img_2{background:url('../images/banner.jpg') center top no-repeat}
.main_image li .img_3{background:url('../images/banner.jpg') center top no-repeat}
.main_image li .img_4{background:url('../images/banner.jpg') center top no-repeat}
div.flicking_con{position:absolute;top:360px;left:50%;z-index:99;width:175px;height:10px;margin:0 0 0 -90px;}
div.flicking_con a{float:left;width:18px;height:18px;margin-left:10px;padding:0;display:block;text-indent:-1000px;background:#fff;border-radius:50%;}
div.flicking_con a.on{background-position:0 -21px;background:#e01309}
#btn_prev{background:url(../images/prev.png);width:60px !important;height:60px;position:absolute;top:190px;left:2%;}
#btn_next{background:url(../images/next.png);width:60px !important;height:60px;position:absolute;top:190px;right:2%;}
.check a{margin:50px 27px;float:left;}
.dynamic{width:780px;float:left;}
.trading{width:380px;float:right;}
.tit{margin-bottom:25px;}
.tit h2{font-size:20px;font-weight:normal}
.tit span{font-size:16px;color:#939599;margin-left:15px;}
.time{color: #fff;padding: 10px 20px;}
.name{width:500px;float:left;margin-left:20px;font-size:17px;line-height:24px;padding:2px;}
.name i{position:relative;top:3px;margin:0 10px;}
.name span{font-size:14px;color:#ffaa00;}
.name p{font-size:15px;color:#666;}
.price{float:right;font-size:30px;color:#ffaa00;line-height:50px;}
.dynamic ul li{padding:15px 25px;background:#fff;overflow:hidden;border:1px solid #fff;margin-bottom:10px;}
.dynamic ul li.on{border:1px solid #ff3341;}
.dynamic ul li:hover{border:1px solid #ff3341;}
.trading ul{padding:0 20px;background:#fff;overflow:hidden}
.trading ul li{overflow:hidden;border-bottom:1px solid #e6e6e6;padding:21px 0;}
.t_tx{width:56px;height:56px;overflow:hidden;float:left;}
.t_tx img{width:100%;}
.t_name{float:left;margin-left:15px;}
.cooperation ul{background:#fff;padding:55px 0;overflow:hidden}
.cooperation ul li{float:left;margin:0 35px;}
.foot{background:#52535e;padding:25px 0;margin-top:70px;}
.bigtitle{margin:10px 0;}
.title{margin-bottom: 15px;color: #fff;font-size: 16px;font-weight: 400;}
.content{padding:35px 0;border-bottom:1px solid #74757d}
.yq{padding:10px 0;overflow:hidden;color:rgba(255,255,255,.5);}
.yq span{width:70px;float:left;color:#e6e6e6;display:inline-block;line-height:18px;}
.yq a{color:rgba(255,255,255,.5);margin:0 10px;}
.lj{float:left;width:1130px;line-height:18px;}
.bq{background:#43444e;text-align:center;color:rgba(255,255,255,.3);padding:10px 0;}
/* remove the bullets and set the margin and padding to zero for the unordered list*/.menu ul{padding:0;margin:0;list-style-type: none;positon:relative;}
/* float the list so that the items are in a line and their position relative so that the drop down list will appear in the right place underneath each list item*//* style the links to be 104px wide by 30px high with a top and right border 1px solid white. Set the background color and the font size.*/.menu ul li a, .menu ul li a:visited{display:block;text-align:center;text-decoration:none;positon:relative;-moz-transition: .5s ease-in;-webkit-transition: .5s ease-in;-o-transition: .5s ease-in;transition: .5s ease-in;}
/* make the dropdown ul invisible*/.menu ul li ul{
    display: none;
    position: absolute;
    text-align: center;
    background: #2a2f37;
    color: #fff;
    width: 120px;
    margin-top: 11px;
    left: -8px;}
.left{display: none;}
/*.menu ul li ul li a{color:#fff;}
.menu ul li:hover ul{display:block;}
.menu ul li:hover ul li a{display:block;color:#fff;z-index:999;}
.submenu li:hover ul li a:hover{background:#075e75;color:#333;border:none;}
.submenu li{text-align: center;width: 100%;padding: 20px 0 !important;margin: 0 !important;border:none !important;}
.submenu li:hover{background:#075e75}*/
.banner img{width:100%;}
.js{text-align:center}
.tit1{text-align:center;padding:35px 0;}
.tit1 i{text-align:center;width:285px;height:3px;background:#b5b5b5;display:block;margin:30px auto;}
.tit1 i span{width:80px;background:#3583df;display:block;z-index:9999;position:relative;}
.tit1 h2{color:#6a7884;font-size:38px;font-weight:normal}
.tit1 p{font-size:18px;line-height:36px;color:#666;}
.ready{background:#2c3e50;padding:40px 0;text-align:center;font-size:28px;color:#fff;}
.ys_l{width:570px;float:left}
.ys_r{width:600px;float:left;}
.s1{width:60px;float:left;margin-right:20px;}
.s2{float:left;width:500px;}
.s2 h2{font-size:23px;color:#6a7884;font-weight:normal}
.s2 p{font-size:14px;color:#7b8a97;line-height:24px;margin-top:20px;}
.ys_r ul li{margin:30px 0;overflow:hidden}
.bt{padding:10px 0;overflow:hidden;}
.bt_l{float:left;width:400px;}
.bt_l i{position:relative;float:left;top:3px;margin-right:10px;}
.bt_l h2{float:left;font-weight:normal;font-size:20px;color:#3583df;}
.bt_l span{font-size:16px;margin-left:20px;color:#939599;line-height:24px;}
.bt_r{float:right;color:#999;line-height:24px;}
.bt_r i{position:relative;top:2px;margin-right:10px;}
.hq_list{margin:20px 0;}
.hq_l{float:left;width:226px;background:#fff;color:#ff6b6b;font-size:14px;height:923px;}
.hq_l ul li{height:66px;line-height:66px;padding:0 20px;border-bottom:1px solid #ccc;}
.hq_l ul li:hover{background:#ff6b6b;color:#fff;}
.hq_l ul li.on{background:#ff6b6b;color:#fff;}
.h1 i{width:25px;height:25px;background:url(../images/h11.png);display:inline-block;position:relative;top:4px;margin-right:25px;}
.hq_l ul li.h1:hover i{background:url(../images/h1.png);}
.hq_l ul li.h1.on i{background:url(../images/h1.png);}
.h2 i{width:25px;height:25px;background:url(../images/h2.png);display:inline-block;position:relative;top:4px;margin-right:25px;}
.hq_l ul li.h2:hover i{background:url(../images/h22.png);}
.h2 i{width:25px;height:25px;background:url(../images/h2.png);display:inline-block;position:relative;top:4px;margin-right:25px;}
.hq_l ul li.h2:hover i{background:url(../images/h22.png);}
.h3 i{width:25px;height:25px;background:url(../images/h3.png);display:inline-block;position:relative;top:4px;margin-right:25px;}
.hq_l ul li.h3:hover i{background:url(../images/h33.png);}
.h4 i{width:25px;height:25px;background:url(../images/h4.png);display:inline-block;position:relative;top:4px;margin-right:25px;}
.hq_l ul li.h2:hover i{background:url(../images/h44.png);}
.h5 i{width:25px;height:25px;background:url(../images/h5.png);display:inline-block;position:relative;top:4px;margin-right:25px;}
.hq_l ul li.h5:hover i{background:url(../images/h55.png);}
.h6 i{width:25px;height:25px;background:url(../images/h6.png);display:inline-block;position:relative;top:4px;margin-right:25px;}
.hq_l ul li.h6:hover i{background:url(../images/h66.png);}
.h7 i{width:25px;height:25px;background:url(../images/h7.png);display:inline-block;position:relative;top:4px;margin-right:25px;}
.hq_l ul li.h7:hover i{background:url(../images/h77.png);}
.h8 i{width:25px;height:25px;background:url(../images/h8.png);display:inline-block;position:relative;top:4px;margin-right:25px;}
.hq_l ul li.h8:hover i{background:url(../images/h88.png);}
.h9 i{width:25px;height:25px;background:url(../images/h9.png);display:inline-block;position:relative;top:4px;margin-right:25px;}
.hq_l ul li.h9:hover i{background:url(../images/h99.png);}
.hq_r{width:909px;float:right;background:#fff;padding:25px;}
.biaoti h2{border-bottom:1px solid #ccc;padding-bottom:15px;}
.biaoti span{padding-bottom:15px;border-bottom:1px solid #ff6b6b;font-size:18px;font-weight:normal}
.hq_r table{width:100%;text-align:center;margin:10px 0;}
.hq_r table tr th{background:#fafafc;padding:15px 0;}
.hq_r table tr td{font-size:14px;padding:15px 0;border-bottom:1px solid #eee;}
.green{color:#1fa10a}
.new{margin:15px 0;background:#fff;padding:15px;box-shadow:0 0 10px #ccc;overflow:hidden}
.new_tit{border-bottom:1px solid #eee;padding-bottom:10px;}
.new_tit i{position:relative;top:2px;margin-right:5px;}
.new_tit a{margin:0 10px;color:#7d7d7d;}
.new ul li{padding:10px 0 ;border-bottom:1px solid #ccc;}
.new ul li h2{font-size:18px;font-weight:normal;padding-bottom:25px;}
.xw{overflow:hidden}
.xw_pic{width:151px;height:92px;float:left;}
.xw_wz{width:960px;padding-left:40px;float:left;color:#7d7d7d;font-size:12px;line-height:24px;}
.xw_nr{overflow:hidden;margin:20px 0;}
.more{float:left;color:#3583df;font-size:12px;}
.rl{float:right;}
.rl i{position:relative;top:4px;margin:0 10px}
.ym{/* width: 285px; */margin: 0 auto;float: right;}
.ym ul li{border:1px solid #ccc;color:#000;margin:5px;float:left;cursor:pointer}
.ym ul li a{padding: 5px 8px;display: inline-block;}
.ym ul li:hover{background:#3583df;color:#fff;}
.ym ul li.on{background:#3583df;border:1px solid #3583df;}
.ym ul li.on a{color:#fff}
.new_wz{margin:15px 0;background:#fff;padding:15px;box-shadow:0 0 10px #ccc;overflow:hidden}
.wz{text-align:center}
.wz p{text-align:left;line-height:36px;}
.wz h2{font-size:24px;color:#333;font-weight:normal;padding:20px 0;}
.wz span{margin:0 10px;color:#aaa;padding-bottom:10px;}
.jy{background:#fafafc;padding:10px;margin:10px 0;}
.jy label{margin-right:20px;}
.jy label select{margin:0 10px;height:25px;}
.jy_list table{width:100%;}
.jy_lie{background:#fff;padding:15px 0;overflow:hidden}
.jy_lie ul li{float:left;text-align:center;width:133px;}
.jy_lie ul li a{color:#333;}
.jy_lie1 ul li{background:#fff;padding:20px 0;height:70px;line-height:70px;text-align:center;width:133px;float:left;}
.jy_lie1 ul{margin:10px 0;font-size:20px;overflow:hidden;border:1px solid #fff;}
.jy_lie1 ul:hover{border:1px solid #ff3341}
.tx1 img{width:45px;float:left;}
.tx1{padding:0 10px;}
.name1{line-height:24px;font-size:17px;}
.name1 p img{width:20px;color:#ffaa00}
.name1 p span{color:#ffaa00;}
.jy_lie1 ul li button{width:68px;height:25px;line-height:25px;background:#3583df;border:none;color:#fff;border-radius:2px;cursor:pointer}
.zc{background:url(../images/bg.jpg) no-repeat;background-size:100% 100%;padding:60px 0;}
.tit h3{font-size:24px;font-weight:normal;text-align:center}
.tit h3 i{width:100px;display:inline-block;height:1px;background:#ccc;margin:8px 10px}
.tit p a{color:#0066cc}
.login1{position:relative;background:#fff;box-shadow:0 0 10px #ccc;margin:40px 0;overflow:hidden}
.login1 label{display:block;position:relative;margin:30px 0;/*overflow:hidden*/}
.login1 label label.error{position:absolute;right: 119px;top: 26px;margin: 0px;color: #f00;}
.login1 label #validate-error{right: 330px;}
.login1 label #validate2-error{right: 330px;}
.login1 label #tuijian-error{right: 328px;}
.login1 label input{width:75%;height:50px;padding:5px 40px;color:#4c4747;box-sizing: border-box;font-size:15px; }
.login1 i{position:absolute;top:16px;left:10px;}
.btn button{width:86%;margin-left:100px;background:#3583df;border:none;padding:15px 0;color:#fff;font-size:16px;cursor:pointer}
.login1_lf{padding:40px 30px;width:810px;float:left;}
.login1_lr{padding:40px 30px;width:270px;float:left;background:#f5f5f5;height:100%;position:absolute;right:0;}
.login1_lf p{text-align:right;margin:5px 15px;}
.login1_lf p a{color:#0066cc}
.login1_lf span{float:left;padding:15px 0;width:100px;font-size:16px;}
.login1_lf label input{}
.wz1{position:absolute;overflow:hidden;line-height:24px;}
.mz{margin-left:100px;margin-top: -20px;margin-bottom: 30px;}
.button{width:160px;height:40px;line-height:40px;margin:20px 0 45px 0;text-align:center;color:#fff;border-radius:5px;background:#3583df;}
.mzsm{margin:50px 0 0 100px;padding:10px;overflow:hidden;height:100px;overflow-y:auto;border:1px solid #eee}
.mzsm h3{color:#3583df;font-size:18px;text-align:center}
.mzsm p{font-size:14px;line-height:24px;text-align:left}
.hy_main{width:1200px;margin:30px auto;overflow:hidden}
.hy_l{width:250px;float:left;background:#525252;}
.hy_r{float:left;padding:22px 40px;}
.tx{overflow: hidden;padding: 30px 25px 10px 25px;}
.tx_pic{float:left;}
.tx_wz{float:left;padding:3px -10px;margin-top:20px;margin-left: 13px;}
.tx_wz h3{font-size:16px;color:#fff;}
.tx_wz p{font-size:14px;color:#fcae06;margin:5px 0}
.money{color:#fff;margin:5px 0;overflow:hidden;padding:5px 20px;}
.m_l{float:left;}
.m_r{float:right;}
.deposit{padding: 5px 20px;overflow: hidden;}
.deposit ul li{width: 88px;height: 28px;line-height: 28px;background: #009bdb;float: left;text-align: center;margin: 8px;color: #fff;border-radius: 5px;cursor: pointer;}
.list{margin-bottom: 227px;margin-top: 10px;}
.list ul li{ font-size: 18px;padding: 3px 20px 10px;border-bottom: 1px solid #8a8a8a;}
.list ul li.on{background: #3583df;}
.list ul li:hover{background: #3583df;}
.list ul li a{color: #fff;/*padding-top: 10px;*/display: inline-block;vertical-align: middle;}
.list ul li i{position: relative;top: 7px;margin-right: 15px;}
.bt h2{border-bottom: 4px solid #ccc;font-size: 16px;font-weight: normal;padding-bottom: 12px;}
.bt span{/* border-bottom: 4px solid #3583df; padding-bottom: 15px;*/}
.qb{padding:54px 0;text-align:center;font-size:18px;    margin-top: 10px;}
.qb a{
    color: #fff;
    background: #af9350;
    padding: 6px 20px;
}
.gd{overflow: hidden;padding: 15px 0;border-bottom: 1px dashed #ccc;}
.gd_lf{font-size: 14px;float: left;line-height: 35px;}
.gd_lr{float: right;width: 180px;height: 35px;text-align: center;background: #3583df;line-height: 35px;cursor: pointer;color: #fff;}
.gd_rs{float: right;width: 180px;height: 35px;text-align: center;line-height: 35px;cursor: pointer;color: #666;}
.members_lr h2{border-bottom: 2px solid #ccc;padding-bottom: 15px;font-weight: normal;font-size: 24px;font-weight: normal;padding-top:10px;}
.lc1 ul li{width: 223px;float: left;text-align: center;margin: 40px 0;}
.lc1 ul li i{position: relative;top: 30px;}
.lc1 ul li h2{border: none;font-size: 18px;margin: 10px 0;}
.lc1 ul li p{line-height: 24px;color: #666;font-size: 12px;border: none;padding: 0;margin: 0;}
.zh_tx{background:#eef3fa;padding: 25px 30px 16px;margin:1px 0;overflow:hidden;
    /*box-shadow: 0px 0px 16px 0px #d8d8d8;*/
}
.tx_pic1{float:left;text-align:center;width: 90px;position: relative;}
/*.tx_pic1 img{border-radius:50%;}*/
.tx_pic1 p{margin:8px 0;}
.zh_name{padding-top: 10px;}
.zh_name>div{float:left;font-size: 16px;margin: 0 14px;}
.ni{font-size:18px;}
.zh_name>div:nth-child(3){float: right;}
.ni span{margin-left:80px;}
.cj{float:left;margin:0;color:#6f6f6f;}
.cj span{margin-left: 10px;color: #3583df;}
.tx_pic1 p a{color:#0066cc}
.sz_list{background: #fff;padding: 15px 40px;/*margin: 15px 0;*/overflow: hidden;}
.sz_list ul li{overflow: hidden;margin: 30px 0;}
.list_wz{float: left;font-size: 16px;color: #666;padding: 0;}
.sz_list p{text-align: left;border: none;padding: 10px 0;margin: 0;font-size: 12px;color: #808080;}
.list_a{float: right;}
.list_a a{font-size: 16px;color: #0046a6;}
.gd_lf input{width:400px;height:30px;line-height:30px;padding:0 10px;border:1px solid #ccc;margin-left:10px;}
.tj{font-size: 14px;}
.tj .me{
    display: inline-block;
    margin-right: 109px;
    float: left;
    font-size: 20px;
}
.tj span{
    color: #fff;
    background: #3583df;
    padding: 4px 20px;
    border-radius: 0;
    display: inline-block;
    float: right;
    margin-right: 68px;
}
.tj span a{color:#fff;}
/*.tree{min-height:20px;padding:0 19px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;-webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);-moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)}*/
.gx_tit{padding:10px;background:#3583df;margin-top:30px;color:#fff;font-size:16px;}
.tree li{list-style-type:none;margin:0;padding: 10px 5px 0 45px;position:relative;}
.tree li::before, .tree li::after{content:'';left:-20px;position:absolute;right:auto;}
.tree li::before{border-left:1px solid #999;padding-left:10px;bottom:50px;height:100%;top:0;width:1px;margin-left:40px;}
.tree li::after{border-top:1px solid #999;height:20px;top:25px;width:25px;margin-left:40px;margin-top:5px;}
.tree li span{-moz-border-radius:5px;-webkit-border-radius:5px;border:1px solid #999;border-radius:5px;display:inline-block;padding:3px 8px;text-decoration:none}
.tree li.parent_li>span{cursor:pointer}
.tree>ul>li::before, .tree>ul>li::after{border:0}
.tree li:last-child::before{height:30px}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span{background:#eee;border:1px solid #94a0b4;color:#000}
[class^="icon-"], [class*=" icon-"]{display: inline-block;width: 14px;height: 14px;margin-top: 1px;line-height: 14px;vertical-align: text-top;background-image: url(../images/glyphicons-halflings.png);background-position: 14px 14px;background-repeat: no-repeat;}
.icon-minus-sign{background-position: -24px -96px;}
.icon-plus-sign{background-position: 0 -96px;}
.parent_li{padding:0 10px;}
.tk_tit{margin:10px 0;overflow:hidden}
.tk_tit i{position:relative;top:5px;margin-right:10px;}
.xm{margin:20px 0;font-size:12px;padding:10px 0 15px 0;border-bottom:1px solid #ccc;}
.xm button{background:#3583df;margin:0 30px;color:#fff;border:none;padding:12px 15px;border-radius:5px;}
.tk{overflow: hidden;}
#tkk::-webkit-scrollbar-button{
        display: none;
    }
.tk ul{padding: 2% 1%;margin: 35px auto;background: #fff;width: 660px;}
.tk ul li{float:none;margin: 15px 0;/*margin-left:168px;*/box-sizing: border-box;width: 702px;text-align: center;}
/*.tk ul li:nth-child(3){width:50%;}*/
.tk>ul>li span{text-align:right;display:inline-block;width:158px;color:#666;margin-right: 73px;}
.tk ul li input,.tk ul li select,.tk ul li textarea{width:248px;
	padding: 5px 12px;
    box-sizing: border-box;}
.tk_btn{text-align:center;margin: 0px 0;}
.tk_btn button{margin-top:30px;width:140px;height:36px;margin: 89px auto 50px;background:#af9350;color:#fff;border:none;border-radius:5px;margin-left: 70px;}
.tk_btn a{color:#fff;}




.star_list table{width: 72%;border:0;border-bottom:0;margin:  0 auto;}
.star_list table tr th{background: #ffffff;padding:15px;text-align:center;border-bottom: 1px solid #ffffff;}
.star_list table tr th i{position:relative;top:2px;margin-left:5px;}
.star_list table tr td{
    padding: 15px 0;
    text-align: center;
    border-bottom: 1px solid #ccc;
    font-size: 12px;}
.star_list table tr td a{     
    padding: 5px 10px;
    background-color: #3583df;
    color: #fff;
    border-radius: 5px;
  }

.tx_gg{overflow:hidden}
.tx_gg p{border:none;padding:0 ;font-size:18px;}
.tx_list{float:left;padding:40px 25px;line-height:40px}
.sz_list ul li{overflow:hidden;margin:30px 0;}
.tx_list span{text-align:left;border:none;}
.sz_list p{text-align:left;border:none;padding:10px 0;margin:0;font-size:12px;color:#808080;}
.list_wz{float:left;font-size:16px;color:#666;padding:0;}
.list_a{float:right;}
.list_a a{font-size:14px;color:#0046a6}
.tx_input ul li{margin:20px 0;font-size:16px;color:#666;}
.tx_input ul li select,.tx_input ul li input{width:500px;padding:10px;color:#999;border:1px solid #ccc;}
.czn{width:130px;height:32px;line-height:32px;text-align:center;color:#fff;background:#af9350;border-radius:5px;margin:20px 0;cursor:pointer;font-size:16px;}
.czn[disabled]{background:#ccc}
.czn a{color:#fff;}

.avatar_pic{width:84px;height:84px;}
.tk_btn .rjtjj{
    color: #fff;
    margin: 0% 39%;
    padding: 7px 66px;
    background: #af9350;
    font-size: 16px;
}
.fhsy{display: block !important;}

.changeimg{
    position: absolute;
    top: 50px;
    left: 104px;
    width: 100px;
    height: 30px;
    color:#fff;
    background: #ff9000;
    text-align:  center;
    border-radius:  5px;
    line-height: 30px;
    cursor:  pointer;
}
.changeimg input{
    position: absolute;
    top: 0;
    left: -57px;
    opacity: 0;
    cursor:  pointer;
}
.xtop{position: relative;}
.changeleft{
    width: 75px;
    height: 75px;
    position: absolute;
    top: 15px;
    left: 16px;
    opacity: 0; 
    border-radius: 50%;
}

.changeleft input{
    position: absolute;
    top: 16px;
    left: 2px;
    opacity: 0;
    cursor: pointer;
    height: 50px;
    width: 80px;
}
.navbar{-webkit-box-sizing:border-box;box-sizing:border-box;z-index:666;position:fixed;left:0;top:0;width:100%;height:60px;background-color:#3c3d49}
.navbar,.navbar.eng nav ul.nav li.menu>a{padding:0 10px}
.navbar ul{padding:0;margin:0;list-style-type:none}
.navbar nav{margin:0 auto;max-width:calc(100% - 100px);min-width:1200px;font-size:0}
.navbar nav .logo{display:inline-block;margin-right:20px;height:60px;font-size:0;line-height:60px}
.navbar nav .logo img{vertical-align:middle;
    width: 146px;
    margin-top: 11px;}
.navbar nav ul.nav{position:relative;display:inline-block;vertical-align:top;display: none;}
.navbar nav ul.nav li.block{position:absolute;height:3px;background-color:#3583df;width:60px;top:0;left:0;-webkit-transition:all .3s ease;-o-transition:all ease .3s;transition:all .3s ease}
.navbar nav ul.nav li.menu,.navbar nav ul.nav li.menu.hassubmenu>a:first-child:after{position:relative;display:inline-block;vertical-align:middle}
.navbar nav ul.nav li.menu.hassubmenu>a:first-child:after{content:"";top:-1px;margin-left:5px;width:9px;height:5px;background:url("https://cdn.followme.com/images/header_arrow.png") no-repeat;-webkit-transition:all .1s linear;-o-transition:all linear .1s;transition:all .1s linear}
.navbar nav ul.nav li.menu.hassubmenu:hover>a:first-child:after{-webkit-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
.navbar nav ul.nav li.menu .strategy-icon{display:inline-block;position:relative;margin-right:3px;top:1px;background:url("https://cdn.followme.com/images/strategy2.png") no-repeat;width:13px;height:12px}
.navbar nav ul.nav li.menu>a{padding:0 20px;display:inline-block;height:60px;font-size:14px;text-decoration:none;line-height:60px;color:#fff}
.navbar nav ul.nav li.menu .subnav{position:absolute;top:60px;padding-top:5px;padding-bottom:5px;-webkit-box-shadow:0 3px 5px rgba(0,0,0,.3);box-shadow:0 3px 5px rgba(0,0,0,.3);background-color:#fff;-webkit-transition:all .1s linear;-o-transition:all linear .1s;transition:all .1s linear;opacity:0;visibility:hidden}
.navbar nav ul.nav li.menu .subnav li.submenu{min-width:90px}
.navbar nav ul.nav li.menu .subnav li.submenu a{color:#666;padding:0 15px;height:30px;line-height:30px;font-size:14px;white-space:nowrap;text-decoration:none}
.navbar nav ul.nav li.menu .subnav li.submenu a:hover{color:#3583df}
.navbar nav ul.nav li.menu .followstar-menu{position:absolute;right:-40px;-webkit-box-sizing:border-box;box-sizing:border-box;width:345px;top:54px;-webkit-box-shadow:0 1px 20px 0 #9a9a9a;box-shadow:0 1px 20px 0 #9a9a9a;background-color:#fff;-webkit-transition:all .1s linear;-o-transition:all linear .1s;transition:all .1s linear;opacity:0;visibility:hidden}
.navbar nav ul.nav li.menu .followstar-menu:after,.navbar nav ul.nav li.menu .followstar-menu:before{content:"";position:absolute;z-index:2;width:0;height:0;overflow:hidden;border-style:solid}
.navbar nav ul.nav li.menu .followstar-menu:before{right:46px;top:-14px;border-width:7px;border-color:transparent transparent #e1e2e6}
.navbar nav ul.nav li.menu .followstar-menu:after{right:47px;top:-12px;border-width:6px;border-color:transparent transparent #fff}
.navbar nav ul.nav li.menu .followstar-menu .followstar-content{width:100%;font-size:0}
.navbar nav ul.nav li.menu .followstar-menu .followstar-content .fs-menu{-webkit-box-sizing:border-box;box-sizing:border-box;padding:12px 0 12px 32px;display:inline-block;font-size:14px}
.navbar nav ul.nav li.menu .followstar-menu .followstar-content .fs-head .fs-menu{width:50%;padding-top:16px;padding-bottom:16px;color:#999;font-size:13px}
.navbar nav ul.nav li.menu .followstar-menu .followstar-content .fs-hr{width:285px;margin:0 auto;height:0;border:0;border-top:1px solid #e7e7e7}
.navbar nav ul.nav li.menu .followstar-menu .followstar-content .fs-main{padding:12px 0}
.navbar nav ul.nav li.menu .followstar-menu .followstar-content .fs-main .fs-part{display:inline-block;width:50%;vertical-align:top}
.navbar nav ul.nav li.menu .followstar-menu .followstar-content .fs-main .fs-menu{width:100%;text-decoration:none;color:#666;font-weight:400}
.navbar nav ul.nav li.menu .followstar-menu .followstar-content .fs-main .fs-menu.fs-color{color:#3583df}
.navbar nav ul.nav li.menu .followstar-menu .followstar-content .fs-main .fs-menu:hover{font-weight:700}
.navbar nav ul.nav li.menu .followstar-menu .followstar-foot{width:100%;border-top:1px solid #e7e7e7;padding:9px 0 0}
.navbar nav ul.nav li.menu .followstar-menu .followstar-foot .fs-stars .fs-star-title{padding-left:31px;vertical-align:middle}
.navbar nav ul.nav li.menu .followstar-menu .followstar-foot .fs-stars .fs-star-title>span{display:inline-block;margin-right:10px;font-size:18px;font-weight:700;line-height:46px;vertical-align:middle}
.navbar nav ul.nav li.menu .followstar-menu .followstar-foot .fs-stars .fs-star-title .fs-star-item{vertical-align:middle;margin-right:6px}
.navbar nav ul.nav li.menu .followstar-menu .followstar-foot .fs-stars .fs-star-des{vertical-align:middle;padding-left:32px;font-size:12px}
.navbar nav ul.nav li.menu .followstar-menu .followstar-foot .fs-stars .fs-star-des .fs-star-des1{display:inline-block;color:#333}
.navbar nav ul.nav li.menu .followstar-menu .followstar-foot .fs-stars .fs-star-des .fs-star-des2{display:inline-block;padding-left:10px;color:#878787}
.navbar nav ul.nav li.menu .followstar-menu .followstar-foot .fs-btns{padding:20px;font-size:0;text-align:justify}
.navbar nav ul.nav li.menu .followstar-menu .followstar-foot .fs-btns .fs-btn{display:inline-block;width:150px;text-align:center;background-color:#3583df;border-radius:3px;font-size:14px;line-height:42px;color:#fff;text-decoration:none}
.navbar nav ul.nav li.menu .followstar-menu .followstar-foot .fs-btns .fs-btn:first-child{margin-right:2px}
.navbar nav ul.nav li.menu .followstar-menu .followstar-foot .fs-btns .fs-btn:hover{background-color:#ff7e00}
.navbar nav ul.nav li.menu:hover>a{color:#3583df}
.navbar nav ul.nav li.menu:hover .subnav{opacity:1;visibility:visible;min-width:100%;width:auto!important}
.navbar nav ul.nav li.menu:hover .followstar-menu{opacity:1;visibility:visible}
.navbar nav ul.nav li.menu.active>a{color:#3583df}
.navbar .btns{float:right}
.navbar .btns ul.nav li.menu>a{padding:0 8px;color:#a1a4ad;font-size:12px}
.navbar .btns ul.nav li.menu:hover .head-icon-hd{background-position:-95px -25px}
.navbar .btns ul.nav li.menu:hover .head-icon-help{background-position:-38px -25px}
.navbar .btns ul.nav li.menu.newmsg{position:relative}
.navbar .btns ul.nav li.menu.newmsg:after{content:"";display:inline-block;position:absolute;top:30%;right:2px;width:5px;height:5px;vertical-align:middle;font-size:0;overflow:hidden;border-radius:50%;background-color:#3583df}
.navbar .btns ul.nav li.menu.newmsg .subnav{margin-left:-34px;width:110px}
.navbar .btns ul.nav li.menu.newmsg .subnav .msgnum{display:inline-block;padding:0 3px;margin-left:3px;height:13px;line-height:13px;font-size:12px;border-radius:7px;background-color:#3583df;color:#fff}
.navbar .btns ul.nav li.menu.search-menu{height:60px}
.navbar .btns .userinfo{display:inline-block;margin-left:15px;height:60px;vertical-align:middle}
.navbar .btns .userinfo ul.nav li.menu>.avator{font-size:0;display:inline-block;min-width:90px;height:60px;vertical-align:middle;color:#fff}
.navbar .btns .userinfo ul.nav li.menu>.avator .img-avatar{display:inline-block;margin-top:-2px;font-size:0;vertical-align:middle;border-radius:50%;background-color:#ccc}
.navbar .btns .userinfo ul.nav li.menu>.avator span{padding-left:2px;max-width:110px;display:inline-block;font-size:12px;overflow:hidden;white-space:nowrap;vertical-align:middle;-o-text-overflow:ellipsis;text-overflow:ellipsis}
.navbar .btns .userinfo ul.nav li.menu .subnav,.navbar .btns .userinfo ul.nav li.menu .subnav li.submenu{width:100%}
.navbar .btns .userinfo ul.nav li.menu .subnav li.submenu a{padding:0 10px}
.navbar .btns .userinfo ul.nav li.menu .subnav li.submenu a:hover .head-user-icon-index{background-position:-17px 0}
.navbar .btns .userinfo ul.nav li.menu .subnav li.submenu a:hover .head-user-icon-homepage{background-position:-17px -18px}
.navbar .btns .userinfo ul.nav li.menu .subnav li.submenu a:hover .head-user-icon-setting{background-position:-17px -36px}
.navbar .btns .userinfo ul.nav li.menu .subnav li.submenu a:hover .head-user-icon-logout{background-position:-17px -55px}
.navbar .btns .head-icon{display:inline-block;position:relative;top:-2px;vertical-align:middle;background:url("https://cdn.followme.com/images/header_icon.png") no-repeat}
.navbar .btns .head-icon.head-icon-hd{width:13px;height:13px;background-position:-95px 0}
.navbar .btns .head-icon.head-icon-help{width:14px;height:14px;background-position:-38px 0}
.navbar .btns .head-icon.head-icon-notice{width:12px;height:14px;background-position:-57px 0}
.navbar .btns .head-user-icon{display:none;margin-top:-2px;width:14px;vertical-align:middle;background:url("https://cdn.followme.com/images/hear_us_icon.png") no-repeat}
.navbar .btns .head-user-icon.head-user-icon-index{height:13px;background-position:0 0}
.navbar .btns .head-user-icon.head-user-icon-homepage{height:13px;background-position:0 -18px}
.navbar .btns .head-user-icon.head-user-icon-setting{height:14px;background-position:0 -36px}
.navbar .btns .head-user-icon.head-user-icon-logout{height:13px;background-position:0 -55px}
.navbar .btns .btngroup{display:inline-block;line-height:60px;margin-left:15px}
.navbar .btns .btngroup .btn{display:inline-block;padding:0 10px;height:26px;text-align:center;line-height:26px;color:#a4abb3;border-radius:2px;font-size:14px;vertical-align:middle;margin-left:5px;text-decoration:none;border:1px solid #a4abb3}
.navbar .btns .btngroup .btn:hover{color:#f60;border-color:#f60}
.navbar .btns .gototrade{height:60px;display:inline-block;margin-left:20px;vertical-align:middle}
.navbar .btns .gototrade a{position:relative;top:14px;display:inline-block;padding:0 10px;line-height:30px;border:1px solid #f60;border-radius:2px;color:#f60;font-size:14px;text-align:center;text-decoration:none;vertical-align:middle}
.navbar .btns .gototrade a span{position:relative;top:-1px;font-size:18px;vertical-align:middle;font-weight:700;padding-right:4px}
.navbar .btns .gototrade a:hover{color:#fff;background-color:#f60}
.navbar .search_pos_wrap{display:inline-block;position:relative;margin-left:15px;top:20px;width:60px;height:22px;vertical-align:middle}
.navbar .search_pos_wrap input{margin:0;padding:0}
.navbar .search_social_box{position:absolute;z-index:10;top:0;right:0;width:58px;height:20px;line-height:20px;vertical-align:middle;border-radius:11px;-webkit-transition:all .3s ease-out;-o-transition:all .3s ease-out;transition:all .3s ease-out;cursor:pointer}
.navbar .search_social_box input{position:absolute;top:1px;left:20px;padding-left:3px;padding-right:5px;width:38px;border:none;outline:none;font-size:12px;color:#aaa;background:transparent;cursor:pointer}
.navbar .search_social_box .delete_btn{display:none;position:absolute;width:11px;height:11px;background:url("https://cdn.followme.com/images/search_social.png") 0 -84px no-repeat}
.navbar .search_social_box .delete_btn:hover{background-position:0 -100px}
.navbar .search_social_box .search_icon{position:absolute;top:3px;left:5px;width:15px;height:15px;background:url("https://cdn.followme.com/images/search_social.png") no-repeat}
.navbar .search_social_box.s_hover{top:-2px;width:240px;height:26px;cursor:default;background:#fff;border:none;border-radius:13px}
.navbar .search_social_box.s_hover input{top:4px;left:26px;padding-left:0;padding-right:0;width:200px;height:18px;line-height:18px;color:#333;cursor:text}
.navbar .search_social_box.s_hover .search_icon{display:none}
.navbar .search_social_box.s_hover .delete_btn{position:absolute;display:block;top:8px;left:10px}
.navbar .white_header .search_social_box.s_hover{background:#fff;height:24px;border-color:#3583df;border-radius:13px}
.navbar .white_header .search_social_box.s_hover input{top:3px;left:26px;padding-left:0;padding-right:0;width:280px;color:#333}
.navbar .white_header .search_social_box.s_hover .search_icon{display:none}
.navbar .white_header .search_social_box.s_hover .delete_btn{position:absolute;display:block;top:7px;left:10px}
.navbar .white_header .search_social_box.s_hover .search_btn{z-index:99;top:2px}
.navbar .search_social_box .search_btn{display:none}
.navbar .search_social_box.s_hover .search_btn{display:block;position:absolute;right:10px;top:3px;width:19px;height:20px;background:url("https://cdn.followme.com/images/search_social.png") -1px -21px no-repeat}
.navbar .strategy-icon{display:inline-block;position:relative;top:1px;background:url("https://cdn.followme.com/images/strategy2.png") no-repeat;width:13px;height:12px}
.login-fade-enter-active[data-v-08e65710],.login-fade-leave-active[data-v-08e65710]{-webkit-transition:all .3s;-o-transition:all .3s;transition:all .3s}
.login-fade-enter[data-v-08e65710],.login-fade-leave-active[data-v-08e65710]{opacity:0;visibility:hidden}
.vcode-slide-enter-active[data-v-08e65710],.vcode-slide-leave-active[data-v-08e65710]{-webkit-transition:all .3s;-o-transition:all .3s;transition:all .3s;height:45px;overflow:hidden}
.vcode-slide-enter[data-v-08e65710],.vcode-slide-leave-active[data-v-08e65710]{height:0}




.star_list .allne{width:100%;/* border:1px solid #ccc; */margin: 28px 0px;min-height: 132px;}
.star_list .allne ul li{text-align: left;display: block;margin: 11px 7px;border-bottom: 1px dotted #d4d4d4;padding: 2px 0 26px;vertical-align:  middle;height:15px}
.star_list .allne ul li span{float: right;margin:0 10px;display: inline-block;}
.star_list .allne li a {
    padding: 5px 4px;
    background-color: #af9350;
    color: #fff;
  
    margin: 5px 5px;
    display: inline-block;
}

.star_list .allne ul{
    padding: 8px 10px;
}
.star_list .allne .allne_div{
    width: 28%;
    display: inline-block;
    box-shadow: 1px 1px 7px 1px #dcdcdc;
    margin: 0 30px;
	float:left;
}
.star_list .allne .alloi .allolli{padding: 0 5px 10px;}
.star_list .allne .alloi{
    width:28%;
    margin: 0 30px;
    box-shadow: 1px 1px 7px 1px #dcdcdc;
    padding: 28px 30px;
    vertical-align: top;
    display: inline-block;
    min-height: 366px;
    box-sizing:  border-box;
}
.star_list .allne>div:nth-child(1){
    
}