@charset "utf-8";
/* CSS Document */

*{padding:0;margin:0;font-family:Tahoma,"Microsoft Yahei",Simsun,Arial,Helvetica,sans-serif;}
li{list-style:none;}
img{border:none;}
a{text-decoration:none;}
.clear{clear:both}



/*IP单管理*/
.wrapper {
    background: #32323a; 
overflow: hidden;
min-height: 100%;
}
.sidebar-menu.fixed {

}
.sidebar-menu {

display: block;
float: left;
top: 0;
bottom: 0;
left: 0;
z-index: 2;
border-right: 1px solid #17232c;
padding-bottom: 35px;
width: 15.09%;
background-color: #32323a;
height: 100%;
min-height:1010px;
transition: left .5s ease;
-webkit-transition: left .5s ease;
-moz-transition: left .5s ease;
-ms-transition: left .5s ease;
-o-transition: left .5s ease;
}
.main_btn1{
	display:none
}
.main-container {
position: relative;
margin-left:240px;
background:#f3f3f3;
background-size:cover;
right: 0;
left: 0;
transition: left .5s ease;
-webkit-transition: left .5s ease;
-moz-transition: left .5s ease;
-ms-transition: left .5s ease;
-o-transition: left .5s ease;
height:100%;
padding-bottom:2%;
/* min-height: 1010px; */
}
.top-nav {
min-height: 52px;
background-color: #fff;
left: 0;
right: 0;
top: 0;
z-index: 1010;
box-shadow: 0 1px 1px rgba(0,0,0,.15);
-moz-box-shadow: 0 1px 1px rgba(0,0,0,.15);
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.15);
transition: all .5s ease;
-webkit-transition: all .5s ease;
-moz-transition: all .5s ease;
-ms-transition: all .5s ease;
-o-transition: all .5s ease;
}

.top-nav .nav-container {
margin-left: 240px;
}
.padding-md {
padding: 18px 30px !important;
border-bottom:1px solid #ddd;
}
.main-menu ul{}
.main-menu h2{color:#fff;text-align:center;padding:36px 10px;background:#28282e;}
.tx1{text-align:center;margin-top:-20px;}
.tx1 img{border-radius:100%;border:2px solid #fff;width:20%}
.nam{color:#fff;font-size:18px;text-align:center;padding:10px 0;}
.main-menu ul li {
position: relative;
border-bottom: 1px solid #3b3b43;
}

 .main-menu ul li a {
position: relative;
display: block;
padding: 15px 15px 15px 2px;
font-size: 18px;
background: 0 0;
color: #95a0aa;
text-transform: uppercase;
outline: 0;
}
.main-menu ul li a .menu-icon {
display: inline-block;
width: 28px;
height:28px;
text-align:center;
padding:0 20px;
position:relative;
top:3px;
}
.m-left-sm {
margin-left: 10px;
font-size:16px;
}
.fa-lg {
font-size: 1.33333333em;
line-height: .75em;
vertical-align: -15%;
}
.main-menu ul li a .submenu-icon {
position: absolute;
top: 20px;
right: 25px;
}
.main-menu ul li a .submenu-icon {
position: absolute;
top: 20px;
right: 25px;
    width: 20px;
    height: 16px; 
}
.main-menu ul li a .submenu-icon.down{
	background:url(../images/nav-down.png) left no-repeat;
}
.main-menu ul li a .submenu-icon.up{
	background:url(../images/nav-up.png) left no-repeat;
}
.main-menu ul li a:hover{background:#af9350}
.main-menu ul li a:hover{color:#fff;}
.ss{padding:5px 50px;}
.ss i{position:relative;top:10px;margin-right:10px;}
.ss input{width:325px;height:30px;border:1px solid #ccc;padding:0 10px;}
.xin{position:relative;padding:12px;border-left:1px solid #ccc;border-right:1px solid #ccc;overflow:hidden;}
.badge {
display: inline-block;
min-width: 10px;
padding: 3px 7px;
font-size: 12px;
font-weight: 700;
line-height: 1;
color: #fff;
text-align: center;
white-space: nowrap;
vertical-align: baseline;

border-radius: 10px;
position:absolute;
top:4px;
right:220px;
border-left:1px solid #ccc;
}
.touxiang img{border-radius:100%;}
.touxiang i{position:relative;top:5px;margin-right:10px;}
.xin1{width:60px;line-height:80px;}
.touxiang{width:215px;font-size:24px;text-align:center;}
.padding-md{padding:20px;background:#eae8e8;color:#333;}
.good h2{font-size:36px;color:#444;font-weight:normal;line-height:36px;}
.good p{font-size:24px;color:#999;line-height:36px;}
.liebiao1{background:#fff;box-shadow:0 0 10px #ccc;margin:20px 0;overflow:hidden;}
.liebiao_inner{padding:20px;overflow:hidden;}
.s{padding:10px;background:#eff8f5;border:1px solid #ccc;overflow:hidden;border-top:3px solid #18a85e;}
.s_left{font-size:14px;}
.s_left input{width:260px;height:28px;margin-left:10px;margin-right:10px;}
.s_right ul li{float:left;margin:2px 10px;}
.ta table{width:100%;margin-top:15px;}
.ta tr th{background:#18a85e;color:#fff;font-size:14px;padding:12px 0;}
.ta tr td{text-align:center;padding:10px 0;font-size:14px;color:#666;}
.ta tr{background:#f6f6f6;width:100%;}
.ta tr:nth-child(odd){background:#f0f0f0}
.ye{padding-left:400px;overflow:hidden;width:100%;}
.ye ul li{float:left;border:1px solid #ccc;padding:5px 10px;margin:25px 5px;}
.ye ul li a{color:#666;}
.ye ul li a:hover{color:#fff;}

.ta tr td img{margin-right:10px;}

.padding-md{overflow:hidden}
.padding-md h2{font-size:2.0rem;font-weight:normal}
.ch{padding:2%;overflow:hidden}
.ch ul li{background:#fff;width:25.33%;float:left;padding:2%;margin-right:4%;margin-bottom:2%;height:110px;position:relative;}
.ch_ye{overflow:hidden}
.ch_ye h2{font-size:1.1rem;font-weight:normal;}
.ch_ye span{float:right;display:inline-block;background:#af9350;padding:2% 5%;color:#fff;border-radius:2px;}
.ch ul li p{font-size:1rem;margin:2% 0;color:#999;}
.ch ul li button{background:#af9350;width:86%;margin-top:2%;padding:3% 0;border:none;color:#fff;border-radius:2px;font-size:1rem;margin:2% 0;position:absolute;bottom:5%;}
.md_lf{float:left;width:30%;}
.md_mid{float:left;padding:2px 0;width:30%;font-size:1rem;}
.md_lr{float:right;font-size:1rem;width:37%;text-align:right}
.md_lr a{background:#af9350;padding:2% 5%;border-radius:3px;color:#fff;margin:0 5px;}
.md_lr span{font-size:1rem;margin-right:10px;}
.main_head{background:#333;padding:1%;color:#fff;overflow:hidden;}
.main_inner{float:right;overflow:hidden;}
.main_time{float:left;text-align:right;padding:5px 0;margin-right:15px;}
.main_time span{display:inline-block;}
.main_btn{float:left;margin:4px 5px;}
.main_btn a{color:#fff;background:#af9350;color:#fff;border-radius:2px;width:66px;height:33px;display:inline-block;float:left;margin:1%;text-align:center;line-height:33px;font-size:14px;}
.main_time i{position:relative;top:3px;margin-right:6px;}

.main_btn1{float:left;margin:4px 5px;} 
.main_btn1 a{color:#fff;background:#af9350;color:#fff;border-radius:2px;width:66px;height:33px;display:inline-block;float:left;margin:1%;text-align:center;line-height:33px;font-size:14px;}

.sr{padding:2%;overflow:hidden}
.sr ul li{width:15%;margin-right:1%;background:#fff;float:left;padding:2%;font-size:1rem;background:#eee}
.sr ul li p{font-size:2.5rem;color:#af9350;margin-top:10px;}
.ch h1{border-bottom:1px solid #ddd;padding-bottom:10px;margin-bottom:20px;font-size:16px;color:#333;}
.sr_fl{float:left;}
.sr_fr{float:right;width:70%;text-align:right}
.sr_fr a{display:inline-block;background:#af9350;background-size:100% 100%;color:#fff;padding:3% 3%;text-align:center;border-radius:2px;margin-bottom:3px;margin:4% 1%;}
.xx a{padding:5% 20% !important;display:block;font-size:12px !important;}



/*个人设置*/
.gr{background:#fff;overflow:hidden;margin:2%;padding:1% 2%;}
.gr span{color:#af9350;font-weight:bold}
.gr_lf{float:left;}
.gr_mid{float:left;margin-left:10%;}
.gr_fr{float:right;}
.sz{margin:0 2%;overflow:hidden}
.sz ul li{background:#fff;width:25%;float:left;margin:1% 2% ;overflow:hidden;padding:0.5% 2%;height:190px;}
.sz ul li h3{font-size:18px;padding-left:10px;border-left:3px solid #af9350;font-weight:normal}
.sz ul li p{font-size:16px;margin:10px 13px;color:#666;height:60px;}
.sz a{margin:0 13px;background:#af9350;color:#fff;padding:2% 5%;border-radius:2px;}

.xg{background:#fff;width:50%;margin:2% auto;padding:2%;overflow:hidden}
.xg label{display:block;overflow:hidden;margin:2% 0;}
.xg span{width:20%;float:left;padding:1% 0;}
.xg input{float:left;width:75%;padding:1% 2%;border:1px solid #eee;color:#ccc;}
.xg_btn{text-align:center}
.xg_btn a{width:25%;margin:2.5%;display:inline-block;background:#af9350;padding:1.5% 0;border-radius:2px;color:#fff;}
.tz{background:#fff;margin:2%;padding:0 2%;}
.tz ul li{padding:2% 0;border-bottom:1px dashed #000;overflow:hidden}
.tz_lf{float:left;color:#2b3869;font-size:2rem;}
.tz_lr{float:right;color:#999;width:30%;text-align:right;line-height:30px;height:30px;font-size:.9rem;}
.tz_lr button{background:#af9350;color:#fff;border:none;border-radius:2px;height:30px;line-height:30px;width:70px;margin-left:2%;}
.db{background:#fff;margin:2%;padding:2%;overflow:hidden}
.db_lf{float:left;}
.db_lr{float:right;width:30%;text-align:right}
.db_lr button{background:#af9350;color:#fff;padding:2% 5%;border-radius:2px;border:none;}
.tj{text-align:center;margin-bottom:2%;}
.tj button{width:120px;padding:1% 0;background:#af9350;border-radius:2px;border:none;font-size:1.rem;color:#fff;margin-bottom:1%;}
.tj p{color:#af9350;font-size:14px;}
.sq{margin: 0 2%;background:#fff;padding:2%;overflow:hidden}
.sq_lf{float:left;width:60%}
.sq_lf span{width:10%;display:inline-block;float:left;padding:1% 0;}
.sq_lf select{width:40%;float:left;padding:1%;border:1px solid #eee;	}
.sq_lr{float:left;padding:1% 0;width:30%;}
.sq_lr button{background:#af9350;color:#fff;padding:2% 3%;border:none;border-radius:2px;}

/*在线入金*/
.rj{background:#fff;padding:2%;margin:2%;overflow:hidden}
.rj_fl{float:left;}
.rj_fr{float:right;width:30%;text-align:right}
.rj_fr a{background:#af9350;color:#fff;padding:2% 5%;border-radius:2px;text-align:center}
.zxrj{background:#fff;margin:2%;padding:2%;overflow:hidden}
.zxrj label{display:block;overflow:hidden;margin:2% 0;}
.zxrj label span{width:20%;display:inline-block}
.zxrj label  p{margin-left:20%;color:#999;margin-top:1%;}
.zxrj label input,select{padding:.5% 1%;margin-right:2%;border:1px solid #ccc;}

.jl{background:#fff;margin:2%;padding:2%;}
.jl table{width:100%;border:1px solid #af9350;text-align:center}
.jl table tr th{color:#fff;padding:1% 0;background:#af9350;;text-align:center}
.jl table tr td{padding:1% 0;}
.jl table tr:nth-child(even){background:#f5f5f5;}
.ym{text-align:center;}
.ym .pagination{margin-left: 60px;}
.ym ul li {float:left}
.ym ul li a,.ym ul li input{border:1px solid #af9350;color:#af9350;margin:0px 5px;    padding: 4px;}
.ym ul li a.on{background:#af9350;color:#fff;}
.fy{background:#fff;padding:1% 2%;margin:1% 2% 0 2%;}
.fy label input{width:20%;padding:.5%;border:1px solid #ccc;}
.fy label button{width:10%;padding:.5%;border:none;background:#af9350;border-radius:2px;color:#fff;cursor:pointer}

.copy{margin:30px ;}

.copy input {
	padding:5px 10px;
	color:#666;
	border:1px solid #ccc;}
	
.copy button{
	background:#af9350;
	border:none;
	padding:5px 15px;
	margin-left:10px;
	color:#fff;
	border-radius:2px;
	cursor:pointer}
	
.my_recommend{
	margin: 20px 30px;
	}
.tj1{
	background:#fff;
	padding:2%;margin:2%;
	overflow:hidden}
	
.my_recommend span{
	font-size:20px;
	
	color:#d1b472;
	margin-left:10px;}
	
.relation{
	margin:20px 30px;
	overflow:hidden;
	background:#fff;padding:2%;
	}
	
.relation h2{
	padding-bottom:20px;
	font-weight:normal;
	font-size:24px;}
	
.relation h3{
	padding:10px 25px;}
	
.relation ul{
	    padding: 0;
    margin: 0 0 10px 50px;
	border-left:1px solid #d1b472;}
	
.relation li {
    list-style-type: none;
    margin: 10px 0;
    padding: 15px 0px 0 0px;
    position: relative;

}
	
	.relation ul li::before, .relation ul li::after {
    content: '';
    left: 0px;
    position: absolute;
    right: auto;
	
}


.relation ul li b{
	margin:10px;}

	

	

	

	

	
.relation ul li:after{
	border-top: 1px solid #d1b472;
    height: 20px;
    top: 33px;
    width: 25px;}
	
.relation ul li b{
	}
	
.relation ul li i{
	width:20px;
	height:20px;
	    padding-left: 20px;
	display:inline-block;
	}	

.relation span{
	font-size:12px;
	margin-left:10px;
	color:#999;}
	
.ewm{display:none;}

.authentication_phone{
	width:1140px;
	margin:20px auto;
	padding:30px;
	background:#fff;
	box-shadow:0 0 10px #ccc;}
	
.authentication_phone h4{
	padding:20px 100px;
	border-bottom:1px solid #eee;
	font-size:16px;
	font-weight:normal;}
	
.authentication_phone h4 i{
	position:relative;
	top:3px;
	margin-right:5px;}
	
.phone{
	padding:20px 100px;}
	
.phone label{
	text-align:right;
	width:100px;
	display:inline-block;
	margin-right:20px;}
	
.phone input{
	padding:5px 10px;
	border:1px solid #ccc;
	margin-right:10px;}
	

.phone button{
	background:#d1b472;
	padding:5px 10px;
	border:none;
	color:#fff;
	cursor:pointer}
	
.sure{
	padding:10px 120px;}
	
.phone span{
	font-size:12px;
	margin-left:10px;
	color:#999;}
	
	.main_phone {
    border-bottom: 1px solid #ccc
	;
    position: relative;
    height: 42px;
}

.main_phone ul li {
    float: left;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    display: inline-block;
    cursor: pointer;
    height: 42px;
}

.main_phone ul li.current {
    border-bottom: 1px solid #666;
    color: #d1b472;
    height: 42px;
    
}

.zxrj label textarea{width:40%;height:10rem;border:1px solid #ccc;}